<fieldset class='assurance'>
  <legend class='question-heading %{ if (_hint) { }% question-heading-with-hint %{ } }%'>
  Assurance approach
  </legend>
  #{forms/hint
    hint: _hint
  /}
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="service-provider-assertion" %{ if (_oldval.equals("service-provider-assertion")) { }% checked='checked' %{ }}% />
    Service provider assertion
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="contractual-commitment" %{ if (_oldval.equals("contractual-commitment")) { }% checked='checked' %{ }}% />
    Contractual commitment
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="independent-validation-of-assertion" %{ if (_oldval.equals("independent-validation-of-assertion")) { }% checked='checked' %{ }}% />
    Independent validation of assertion
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="independent-testing-of-implementation" %{ if (_oldval.equals("independent-testing-of-implementation")) { }% checked='checked' %{ }}% />
    Independent testing of implementation
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="assurance-in-the service-design" %{ if (_oldval.equals("assurance-in-the service-design")) { }% checked='checked' %{ }}% />
    Assurance in the service design
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="assured-components" %{ if (_oldval.equals("assured-components")) { }% checked='checked' %{ }}% />
    Assured components
  </label>
#{question-footer
  heading: _label,
  hint: _hint
/}
