<fieldset class='assurance'>
  <legend class='question-heading %{ if (_hint) { }% question-heading-with-hint %{ } }%'>
  Assurance approach
  </legend>
  #{forms/hint
    hint: _hint
  /}
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="service-provider-assertion" />
    Service provider assertion
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="contractual-commitment" />
    Contractual commitment
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="independent-validation-of-assertion" />
    Independent validation of assertion
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="independent-testing-of-implementation" />
    Independent testing of implementation
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="assurance-in-the service-design" />
    Assurance in the service design
  </label>
  <label class="selection-button">
    <input type="radio" name="${_name}assurance" value="assured-components" />
    Assured components
  </label>
#{question-footer
  heading: _label,
  hint: _hint
/}
