%{
  def assurance_options = []
  def answer_index = 0
}%
<fieldset class='assurance'>
  <legend class='question-heading %{ if (_hint) { }% question-heading-with-hint %{ } }%'>
  Assurance approach
  </legend>
  #{forms/hint
    hint: _hint
  /}
  %{
    if (_type == '2answers-type1') {
      assurance_options = [
        'Service provider assertion',
        'Independent validation of assertion'
      ]
    }
    if (_type == '3answers-type1') {
      assurance_options = [
        'Service provider assertion',
        'Contractual commitment',
        'Independent validation of assertion'
      ]
    }
    if (_type == '3answers-type2' || _type == '2answers-type2') {
      assurance_options = [
        'Service provider assertion',
        'Independent validation of assertion',
        'Independent testing of implementation'
      ]
    }
    if (_type == '3answers-type3') {
      assurance_options = [
        'Service provider assertion',
        'Independent testing of implementation',
        'CESG-assured components'
      ]
    }
    if (_type == '3answers-type4') {
      assurance_options = [
        'Service provider assertion',
        'Independent validation of assertion',
        'Independent testing of implementation'
      ]
    }
    if (_type == '4answers-type1') {
      assurance_options = [
        'Service provider assertion',
        'Independent validation of assertion',
        'Independent testing of implementation',
        'CESG-assured components'
      ]
    }
    if (_type == '4answers-type2') {
      assurance_options = [
        'Service provider assertion',
        'Contractual commitment',
        'Independent validation of assertion',
        'CESG-assured components'
      ]
    }
    if (_type == '4answers-type3') {
      assurance_options = [
        'Service provider assertion',
        'Independent testing of implementation',
        'Assurance of service design',
        'CESG-assured components'
      ]
    }
    if (_type == '5answers-type1') {
      assurance_options = [
        'Service provider assertion',
        'Contractual commitment',
        'Independent validation of assertion',
        'Independent testing of implementation',
        'CESG-assured components'
      ]
    }

    for (answer in assurance_options) {
  }%
  <label class="selection-button" for="${_name}assurance${++answer_index}">
    <input type="radio" id="${_name}assurance${answer_index}" name="${_name}assurance" value="${answer}" %{ if (_oldval.equals(answer)) { }% checked='checked' %{ }}% />
    ${answer}
  </label>
  %{
    }
  }%

#{question-footer
  heading: _label,
  hint: _hint
/}
