<fieldset class='question' id='${_name}'>
  #{question-validation-wrapper-open
    error: _error
  /}
  <label class='question-heading %{ if (_hint) { }%question-heading-with-hint%{ } }%' for='${_name}'>
    ${_label}
  </label>
  #{forms/hint
    hint: _hint
  /}
  #{forms/error-message
    error: _error
  /}
    %{if (_value != null && !(_value.isEmpty())) {}%
    <p>Previously uploaded file: ${_value}</p>
    %{}}%
    <input type='hidden' name='${_name}_uploaded' id='${_name}_uploaded' value='${_value}' />
    <input type='file' name='${_name}' id='${_name}' class='file-upload' />
  #{question-footer
    error: _error
  /}
</fieldset>
