#{extends 'layout.html' /}
#{set title:'Service Submission | Digital Marketplace' /}

<div class='breadcrumb-navigation'>
  <nav>
    <ol>
      <li class='breadcrumb-navigation-item'>
        Your G-Cloud 6 submissions
      </li>
    </ol>
  </nav>
</div>

<p class='position'>
    ${supplierDetails.get("supplierEmail")}
</p>
<h1 class='page-heading' id='supplier-${supplierDetails.get("supplierId")}'>
    ${supplierDetails.get("supplierCompanyName")}
</h1>

<h2 class='summary-heading'>
  Draft services
</h2>
<p class='summary-top-level-action'>
  <a href='/addservice' class='summary-change-link' id='new_service'>Add a new service</a>
</p>

#{ifnot listings}
<p class='question-hint summary-answer-list summary-without-answers'>
  You haven't added any services yet
</p>
#{/ifnot}
#{else}

<table width='100%' class='summary-item'>
  <thead class='summary-answer-heading'>
    <tr>
      <td>
        Service name
      </td>
      <td>
        Pages completed
      </td>
      <td>
        Link to first incomplete page
      </td>
    </tr>
  </thead>
  <tbody class='summary-answer-list'>
    #{list listings, as:'listing'}
    %{
      if (listing.title != null)
         serviceName = listing.title;
      else serviceName = listing.id;
    }%
    <tr class='summary-row'>
      <td class='summary-answer-title'>
        <a href='/service/${listing.id}'>${serviceName}</a>
      </td>
      <td class='summary-answer-progress'>
        ${listing.completedPageCount()}
        of
        ${listing.getPageSequenceSize()} pages complete
      </td>
      <td class='summary-answer-action'>
        <a href='/service/${listing.id}'>Continue</a>
      </td>
    </tr>
    #{/list}
  </tbody>
</table>
#{/else}

<h2 class='summary-heading'>
  Completed services
</h2>
<p class='question-hint'>
  These services will be published on the Digital Marketplace when G-Cloud 6 goes live
</p>
%{
  if (play.configuration.getProperty("application.mode") == 'prod') {
}%
<p class='question-hint summary-without-answers'>
  You haven't marked any services as completed yet
</p>
%{
  } else {
}%
<table width='100%'>
  <thead class='summary-answer-heading'>
    <tr>
      <td>
        Service name
      </td>
      <td>
        Actions that can be performed on this service
      </td>
    </tr>
  </thead>
  <tbody class='summary-answer-list'>
    <tr class='summary-row'>
      <td class='summary-answer-title'>
        <a href='#'>Example service 1</a>
      </td>
      <td class='summary-answer-progress'>
        <button class='summary-answer-button'>
          Return service to drafts
        </button>
      </td>
    </tr>
    <tr class='summary-row'>
      <td class='summary-answer-title'>
        <a href='#'>Another example service</a>
      </td>
      <td class='summary-answer-progress'>
        <button class='summary-answer-button'>
          Return service to drafts
        </button>
      </td>
    </tr>
  </tbody>
</table>
%{
  }
}%
