#{extends 'layout.html' /}
#{set title:'Service Submission | Digital Marketplace' /}

<div class='breadcrumb-navigation'>
  <nav>
    <ol>
      <li class='breadcrumb-navigation-item'>
        Your G-Cloud 6 submissions
      </li>
    </ol>
  </nav>
</div>

%{
  if (supplierDetails.get("esourcingId").size() == 0) {
}%
  <div class='banner-warning'>
    <p>
      Please remember, you still need to provide your eSourcing Account ID.
    </p>
    <p>
      <a class='banner-link' href="${uk.gov.gds.dm.URLTools.getDigitalMarketplaceURL()}g-cloud-6/edit-supplier-account">View and edit supplier information</a>
    </p>
  </div>
%{
  }
}%

<p class='position'>
    ${supplierDetails.get("supplierEmail")}
</p>
<h1 class='page-heading' id='supplier-${supplierDetails.get("supplierId")}'>
    ${supplierDetails.get("supplierCompanyName")}
</h1>

<h2 class='summary-heading'>
  Draft services
</h2>
<p class='summary-top-level-action'>
  <a href='/addservice' class='summary-change-link' id='new_service'>Add a new service</a>
</p>

#{ifnot listings}
<p class='question-hint summary-answer-list summary-without-answers'>
  You haven't added any services yet
</p>
#{/ifnot}
#{else}

<table class='summary-item'>
  <thead class='summary-answer-heading'>
    <tr>
      <th scope="col">
        Service name
      </th>
      <th scope="col">
        Pages completed
      </th>
      <th scope="col">
        Link to first incomplete page
      </th>
    </tr>
  </thead>
  <tbody class='summary-answer-list'>
    #{list listings, as:'listing'}
    %{
      if (listing.title != null)
         serviceName = listing.title;
      else serviceName = listing.id;
    }%
    <tr class='summary-row'>
      <td class='summary-answer-title'>
        <a href='/service/${listing.id}/summary'>${serviceName}</a>
      </td>
      <td class='summary-answer-progress'>
        ${listing.completedPageCount()}
        of
        ${listing.getPageSequenceSize()} pages complete
      </td>
      <td class='summary-answer-action'>
        %{
          if (0 != listing.getFirstIncompletePage()) {
        }%
        <a href='/page/${listing.getFirstIncompletePage()}/${listing.id}'>Continue</a>
        %{
          }
        }%
      </td>
    </tr>
    #{/list}
  </tbody>
</table>
#{/else}

<h2 class='summary-heading'>
  Completed services
</h2>
<p class='question-hint-full-width'>
  These services will be published on the Digital Marketplace when G-Cloud 6 goes live
</p>
#{ifnot completedListings}
    <p class='question-hint summary-without-answers'>
      You haven't marked any services as completed yet
    </p>
#{/ifnot}
#{else}
    <table>
      <thead class='summary-answer-heading'>
        <tr>
          <th scope="col">
            Service name
          </th>
          <th scope="col">
            Actions that can be performed on this service
          </th>
        </tr>
      </thead>
      <tbody class='summary-answer-list'>

      #{list completedListings, as:'completedListing'}
        <tr class='summary-row'>
          <td class='summary-answer-title'>
            <a href='/service/${completedListing.id}/summary'>${completedListing.title}</a>
          </td>
          <td class='summary-answer-progress'>
            #{form @Service.markListingAsDraft() }
              <input type="hidden" id="listingId" name="listingId" value="${completedListing.id}" />
              <button class='summary-answer-button'>
                Return service to drafts
              </button>
            #{/form}
          </td>

        </tr>
      #{/list}
      </tbody>
    </table>
#{/else}
