%{
  // Make assurance lowercase if it doesn't start with an acronym
  if (String in _assurance.getClass()) {
    if (_assurance?.getAt(1)?.toCharacter().isLowerCase()) {
      _assurance = _assurance[0].toLowerCase() + _assurance.substring(1)
    }
  }
}%
<tr class='summary-row%{ if (!_answer && !_optional) { }% summary-row-incomplete%{ } }%'>
  <td class='summary-question'>
    <span>${_question}</span>
  </td>
  <td class='summary-answer'>
    %{
      if (_answer) {
    }%
      %{if(_serviceTypeQuestion){}%
        ${_answer}
      %{} else if(_answer.size() > 1){ }%
        <ul>
          %{
            _answer.each {
              // Filter out empty elements (especially ones we've inserted as padding)
              if (it) {
          }%
            <li>
              ${it}
            </li>
          %{
              }
            }
          }%
        </ul>
        %{ if (_assurance) { }%
          <p>Assured by ${_assurance}</p>
        %{ } }%
      %{} else {}%
        <p>
          ${_answer.getAt(0)}%{ if (_assurance) { }%, assured by ${_assurance}%{ } }%
        </p>
      %{}}%

    %{
      } else if (!_optional) {
    }%
      <p>
        <a href='/page/${_page}/${_service_id}?return_to_summary=yes#${_questionID}'>Answer required</a>
      </p>
    %{
      }
    }%
  </td>
</tr>
