@import '_colours';
@import '_typography';
@import 'design-patterns/_alpha-beta';
@import 'design-patterns/buttons';
@import "design-patterns/alpha-beta";


body {
}

h1 {
@include heading-48;
font-size: 300%;
font-weight: bold;
display: block;
font-size: 2em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
vertical-align: baseline;
}

h2 {
@include heading-36;
font-weight: bold;
}

h3 {
@include heading-24;
font-weight: bold;
}


h4 {
@include copy-19;
font-weight: bold;
}

p {
font-size: 19px;}


.copy-19 {
@include copy-19;}


.copy-16 {
@include copy-16;
}



.heading-24 {
@include heading-24;
font-weight: bold;
}

.sresults {

  margin: 30px 0 20px 0;
  letter-spacing: 1px;

  span {
    letter-spacing: 0;
  }

}



.heading-27 {
@include heading-27;
color: #6f777b;
display: block;
}


.heading-36 {
@include heading-36;
font-weight: bold;
}

.heading-48 {
@include heading-48;
font-weight: bold;
}

.text-secondary {
color: #6f777b;
}

.phase-banner  {
  @include phase-banner(alpha);
}

#phase-notice {
width: 1020px;
margin-left: auto;
margin-right: auto;
}

.price {
font-size: 48px;
margin-top: -10px;
}


.secondary-label {
color: #888888;
}



/* Layout */


#infocol {
width: 33.333333%;
float: right;
position: relative;
}



#mcontent {
width: 66.66666665%;
float: left;
margin-bottom: 20px;
}

#bundle {
margin-bottom: 20px;
}


.page-header group {
  width: 100%;
  height: 134px;
}

.page-header div h1 {
  padding-top: 7px;
padding-bottom: 13px;
}

.article-container {
  max-width: 38em;
}

.copy-24 {
  font-size: 24px;
}

/*Buttons*/

.button {
background-color: #006435;
color: white;
position: relative;
display: -moz-inline-stack;
display: inline-block;
padding: 0.35em 0.5em 0.15em 0.5em;
margin: 0 0 1em 0;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-appearance: none;
-webkit-box-shadow: 0 2px 0 #b5babe;
-moz-box-shadow: 0 2px 0 #b5babe;
box-shadow: 0 2px 0 #b5babe;
font-size: 1em;
line-height: 1.25;
text-decoration: none;
-webkit-font-smoothing: antialiased;
cursor: pointer;
}

.button-warning {
  @include button($red);
}

.button-secondary {
background-color: #dee0e2;
position: relative;
display: -moz-inline-stack;
display: inline-block;
padding: 0.35em 0.5em 0.15em 0.5em;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-appearance: none;
-webkit-box-shadow: 0 2px 0 #b5babe;
-moz-box-shadow: 0 2px 0 #b5babe;
box-shadow: 0 2px 0 #b5babe;
font-size: 1em;
line-height: 1.25;
text-decoration: none;
-webkit-font-smoothing: antialiased;
cursor: pointer;
color: #0b0c0c;
}


.search-container {
margin-bottom: 50px;}

.del {
float: right;
color: grey;
padding-right: 30px;
font-size: 18px;
margin-bottom: -10px;
}


/*Lists*/


.list {
list-style-type: none;
margin-left: -40px;
}

#infocol ul li {
list-style-type: none;
}

#profile-list p {
  margin: 0;
}
#profile-list {
list-style-type: none;
margin: 5px 0 20px -45px;
}

#profile-list ul li {
}

#profile-list li {
padding: 10px;

  border-bottom: 1px solid #dee0e2;
}


#document-list p {
  margin: 0;
}
#document-list {
list-style-type: none;
margin: 5px 0 20px -45px;
}

#document-list li {
padding: 10px;
border-bottom: 1px solid #dee0e2;

}
/*shortlists*/

.addimg {
margin-top: -2px;
margin-right: 7px; }


.doc-img {
  float: left;
  height: 50px;
  width: 35px;
  background: $grey-3;
  margin-right: 10px;
  padding: 5px;
}


/*shortlists*/

.success-feedback {
color: $green;}

.fail-feedback {
color: $red;}


.shortlist-picker {
  margin-top: -20px;
  width: 90%;
  margin-left: 0px;
  border-bottom: 2px solid #cccccc; }

.project-picker {
  margin-top: -20px;
  width: 90%;
  margin-left: 0px;
  border-bottom: 2px solid #cccccc; }

.pick-one-project {
  background: #f1f1f1;
  margin-top: -20px;
  padding: 3px;
  border-top: 7px solid black; }

.pick-one-shortlist {
  background: #f1f1f1;
  margin-bottom: -20px;
  padding: 3px;
  border-top: 7px solid black; }

.shortlist-picker-item {
  background: #ffffff;
  padding: 7px;
  border-bottom: 1px solid #cccccc; }

.shortlist-item-selected {
  color: white;
  background: #28a197;
  padding: 7px;
  border-bottom: 1px solid #cccccc; }

#changeproj {
  margin-left: 10px; }
/*Logo treatment*/


#brand {
width: 100%;
padding: 20px 0 20px 0;

}

.swrap {
margin: 20px 0 40px 0;}



/*Input*/


input  {
font-family: "nta",Arial,sans-serif;
font-size: 19px;
line-height: 1.31579;
font-weight: 400;
text-transform: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 600px;
margin: 0 -3px 0 0;
padding: 0 0 0 0;
display: inline;
height: 50px;
border: 1px solid #bfc1c3;
line-height: 48px!important;
}

.search-holder {
  width: 50%;
}

.searchbuildertop {
  background: $grey-4;
  overflow: hidden;
  padding: 10px;
  border: 1px solid $grey-2;
}

.searchbuildertop p {
  margin: 0;
}

.master-categories {
font-size: 19px;
margin-bottom: 10px;
}
.child-categories {
  margin-left: 7px;
}

.sub-child-categories {
  margin-left: 17px;
}


#filter-inner input {
  display: inline-block;
  vertical-align: top;
  text-indent: 10px;
  font-family: "nta","GDS-Regular",sans-serif;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  border: 1px solid #bfc1c3;
  width: auto;
}

#filter-inner li {
  position: relative;
}

#filter-inner li input {
  position: absolute;
  top: 0;
  left: 0;
}

#filter-inner label {
  width: 85%;
}

#filter-inner #search-main {
  width: 100%;
  margin-bottom: 10px;
}

#radio {
vertical-align: middle;
width: auto;
margin: 0 0 0px 7px;
}

#filter-inner checkbox {
vertical-align: middle;
}


#filter-inner checkbox label {
vertical-align: middle;
float: left;
}

.radio label {
margin-left: 10px;
margin-bottom: -5px;}


#filter-inner input value {
color: grey;
}

.checkboxes {
overflow: auto;
}


.checkboxes label {
    display: block;
    float: left;
    padding-right: 6px;
    white-space: nowrap;
}
.checkboxes input {
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
}
.checkboxes label span {
    vertical-align: middle;
}

/* Layout */


#outer-wrapper,
.outer-wrapper {
@include outer-block;
overflow: auto;
}

#inner-wrapper,
.inner-wrapper {
@include inner-block;
}


/* Home */

.alphadisclaimer {

	background: $yellow-25;
	padding: 5px;

	p{
		margin:0;
	}

}


/* Search results specific */


.nav-breadcrumb {
margin-left: -30px;}



.breadcrumb {
	list-style: none;
	overflow: hidden;
}
.breadcrumb li {
	float: left;
	padding-bottom: 0;
}
.breadcrumb li a {
	font-size: 15px;
	color: black;
	text-decoration: none;
	padding: 7px 0 7px 40px;
	background: $grey-4;
	position: relative;
	display: block;
	float: left;
}


.breadcrumb li a:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid $grey-4;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2;
}

.breadcrumb li a:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid $grey-2;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}


.breadcrumb li a:hover { background: $grey-3; }
.breadcrumb li a:hover:after { border-left-color: $grey-3 !important; }




.breadcrumb-breakdown {
margin-top: 15px;
margin-bottom: 10px;
}
.breadcrumb-filter {
padding: 5px;
margin-right: 10px;
display: inline-block;
border-bottom: 1px solid $grey-3;
}


.remove-filt {
margin-right: 5px;
font-size: 18px;}


.filtered-results {
font-size: 16px;
}

.filtered-results a {
color: #6f777b;
text-decoration: none;
font-weight: normal;
position: relative;
top: 1px;
}






/* Breadcrumb v 2 */


.breadcrumb2 {
	list-style: none;
	overflow: hidden;
}
.breadcrumb2 li {
	float: left;
	padding-bottom: 0;
	padding-left: 0;
}
.breadcrumb2 li a {
	font-size: 15px;
	color: black;
	text-decoration: none;
	padding: 7px 0 7px 10px;
	position: relative;
	float: right;
}


/*
.breadcrumb2 li a:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2;
}

.breadcrumb2 li a:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid $grey-2;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}
*/

.breadcrumb2 li a:hover { background: white; }
.breadcrumb2 li a:hover:after { border-left-color: white !important; }




.breadcrumb-breakdown2 {
margin-top: 15px;
margin-bottom: 10px;
}
.breadcrumb-filter2 {
padding: 5px;
margin-right: 10px;
display: inline-block;
border-bottom: 1px solid $grey-3;
}


.remove-filt2 {
margin-right: 5px;
font-size: 18px;
}


/* end */


.filter-services {
margin: 0 0px 0px 0px;
overflow: hidden;
}
.framework-filter {
  float: left;
  width: 50%;
  margin: -10px 0 10px 0;
}

.framework-filter label {
  font-size: 19px;
}

.start-new-search {
  text-align: right;
  font-size: 16px;
}



.search-tools {
  position: relative;
  clear: both;
  overflow: hidden;
  padding-bottom: 30px;
  margin-top: 20px;

  .search-count {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.search-tools p {
  margin: 0;
  font-size: 24px;
}



.search-name input {
  display: inline-block;
  vertical-align: top;
  text-indent: 10px;
  font-family: "nta","GDS-Regular",sans-serif;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  border: 1px solid #bfc1c3;
  width: auto;
}

.search-name label {
  display: block;
  font-size: 19px;
  display: none;
}

.search-name #search-main {
  width: 100%;
  margin-bottom: 10px;
}

.search-name {
  padding-right: 300px;

  h2 {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
    padding-right: 10px;
    }
  button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 3px;

    &.notbutton {
      background: transparent;
      border: none;
      color: $link-colour;
      box-shadow: none;
    }
  }
  input {
    display: inline-block;
    vertical-align: top;
    width: 500px;
  }

}



#search {
display: inline;
width: 100%;
}


#box-filter {
width: 33.3333%;
float: left;
}


#filter-inner {
padding: 0px;
}

#filter-inner p {
margin: 0;}

#filter-inner p.filter-heading {
margin: 0 0 5px 0;
font-size: 24px;
line-height: 1.5;
}

#filter-inner p.filter-heading.text-secondary {
  margin: -10px 0 10px 0;
  font-size: 19px;
}

.saved-search {
  margin: 20px 0 20px 0;
  border-bottom: 1px solid $grey-3;
}

.saved-search-name {
  font-weight: bold;
}

.saved-search-links {
  margin: 10px 0 10px 0;
}

.saved-search p {
  margin: 0.09em;
}

.builder-search-result {
overflow: hidden;
}

.builder-search-result p {
  font-size: 19px;
}


.result-metadata-holder {
margin-top: 4px;
margin-bottom: 5px;
clear: right;
display: inline-block;}


.result-meta {
  display: inline-block;
background: $grey-4;
border: 1px dotted $grey-3;
padding: 2px 6px 2px 6px;
margin-right: 4px;
margin-bottom: 4px;
font-size: 16px;
}




.tags-container {
margin-top: 10px;
margin-bottom: 20px;
clear: right;
display: inline-block;}


.result-tag {
  display: inline-block;
border-bottom: 1px solid $grey-3;
background: $grey-4;
padding: 3px 7px 3px 7px;
margin-right: 4px;
margin-bottom: 4px;
font-size: 19px;
cursor: pointer;
}

.tag-del {
  margin-left: 5px;
  margin-right: 5px;
}

.framework {
background: green;}
.builder-search-result .copy-24 {
}



#builder-search-results p {
  margin: 0;
}

.builder-search-result {
  margin-bottom: 15px;
  border-bottom: 1px solid $grey-3;
  padding: 0 0 15px 0;
}

#start-shortlisting {
  overflow:hidden;
  float: right;
  margin-left: 20px;
}

#box-results {
width: 66.6666665%;
float: right;
padding-left: 50px;
box-sizing: border-box;
margin-bottom: 100px;
}

#box-results p {
  margin: 0;
}
.advancedsearch {
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px;
margin-top: 5px;
width: 65%;
}


.saved {
color: $green;
}


.login {
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px;
margin: 5px 0 20px 0;
}

.loginwide {
width: 660px;
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px 10px 0 10px;
margin: 5px 0 5px 0;
}



.questionform {
background: #f1f1f1;
border: 1px solid #cccccc;
padding: 10px;
margin: 5px 0 20px 0;
}

.qfeedback {
background: $yellow-25;
padding: 10px;
margin: 10px 0 20px 0;
}

.searchcontainer {
overflow: auto;
}

.searchcontainer p {
  margin: 0;

}

/* Search */

.searchterm {
  //background: $brown-25;
  background: linear-gradient( 0deg, $white, $white 30%, $yellow-25 30%, $yellow-25 73%, $white 73% );
  //color: $orange;
}


#sheader {
margin: 20px 0 0 0;
width: 930px;
}

#searchops {
border-bottom: 1px solid #bfc1c3;

}

.filter-block {
  margin: 10px;
height: 100%;
clear: both;
}

.filter-single {

}


/* supplier dashboard */

.nav-sections {
  position: absolute;
  top: 0;
  margin-top: 60px;
  color: white;
  background: $light-blue;
  padding: 10px;
  width: 320px;

.top { display: none; }

  &.sticky {
    position: fixed;

    .top {
      display: block;
    }
  }

  a {
    color: white;
  }

  ol {
    width: 300px;
    @include core-19;
    margin-left: 0;
    padding-right: 10px;
    list-style-type: decimal;
  }

}


.service-item {
border-bottom: 1px solid $grey-3;}

.see-all {
text-align: left;
margin-bottom: 40px;
font-weight: bold;
font-size: 24px;
}





.supplier-notification {
background: $yellow-25;
padding: 10px;
width: 90%;
border: 1px solid $grey-3;}

.supplier-notification p {
margin: 0;}



/* all services */

.all-services {
}


.service-list-item {
margin: 0 auto;
margin-top: 10px;
margin-bottom: 30px;
}


.service-question {
border: 1px solid $grey-3;
padding: 10px;
margin-bottom: 20px;
}



.service-list-item p {
margin: 0;
}


.analytics {
float: left;
width: 29%;
margin-top: 10px;
margin-bottom: 10px;
}

.arrow {
float: right;
width: 10%;
}


.analytics p {
font-size: 16px;
color: $grey-1;}


.search-saved {
  margin-top: 40px;
color: $green;
background: $grey-4;
padding: 20px;
border-left: 5px solid $green;
}

/* Filter */


.cat {
@include copy-14;
font-weight: bold;
margin-top: 10px;
margin-bottom: 0px;
}

.cat-filter {
@include copy-14;
font-weight: bold;
margin-top: 10px;
margin-bottom: 0px;
border-top: 1px solid #f1f1f1;
}

/* Results */

.single-row-select {
border: 1px solid #bfc1c3;
padding: 5px 5px 5px 10px;
width: 100%;
background: #fff;
background-image: url(https://assets.digital.cabinet-office.gov.uk/government/assets/dropdown-arrow-small-a4f4e2df48e8d34de458bddf58e83a8a.png);
background-repeat: no-repeat;
background-position: right center;
-webkit-box-shadow: 1px 1px 1px #fff;
-moz-box-shadow: 1px 1px 1px #fff;
box-shadow: 1px 1px 1px #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-appearance: none;
-moz-appearance: none;

}



/* search builder */

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 5px;
}

.strapline {
margin-top: -25px;
margin-bottom: 20px;
}

.strapline-description {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.strapline p {
  font-size: 24px;
}
.set-service-reqs {
margin-top: 20px;}

.just-browse {
  float: right;

}

.set-service-reqs h3 {
}


#searchbuilder {

  h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }

}

#searchbuilderbutton {

  @include button;
  font-size: 24px;
  font-weight: bold;
  clear: left;
  display: block;

  &:hover {

    span {
      background: darken($green, 4%);
    }

  }

  span {
    font-size: 27px;
    background: rgba($green, 0.5);
    color: $white;
    padding: 15px 7px;
    margin: 0 3px;
    letter-spacing: 0.05em;
  }

}

#searchbuilder-results {
width: 100%;
  padding: 10px;
  background: $grey-4;
  border: 1px solid $grey-2;
  margin-bottom: 20px;
}

#searchbuilder-results-inner {
  margin: 10px;
}

.searchbuilder-selected-chunk {
  background: white;
  padding: 5px;
  border: 1px solid $grey-2;
  display: inline-block;
  margin: 3px;
  font-size: 19px;
}

.searchbuilder-selected-label {
  padding: 4px;
  display: inline-block;
  margin: 2px;
  font-size: 16px;
}

.whole-search-tag {
display: inline-block;
}

.searchbuilder-container {
overflow: visible;
width: 100%;
clear: both;
}

.searchbuilder-container-add {
  background: white;
  border: 1px solid $grey-3;
  padding: 8px;
  margin-top: 5px;
  }

  .searchbuilder-container-add p {
  margin: 0;
}

.butt-align {
text-align: center;
margin-top: -20px;}

  .searchbuilder-container-add-button {
  padding: 15px;
  border: 1px solid $grey-3;
  margin: 5px;
  display: inline-block;
  background: $grey-3;
  width: 200px;
  }


 .searchbuilder-container-add-button p {
 margin: 0;
 font-size: 16px;
 font-weight: bold;
}

.searchbuilder-container-bit {

  background: $grey-4;
  border: 1px solid $grey-4;
  margin: 0 10px 10px 0;
  display: block;
  position: relative;
  min-height: 46px;

  &:after {
    content: "Edit";
    @include core-19;
    color: $link-colour;
    text-decoration: underline;
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
  }

  .summarised & {

    display: inline-block;
    float: none;
    clear: none;

    &:after {
      display: none;
    }

  }

  &.hidden {
    display: none;
  }

  &:hover {

    border: 1px solid $grey-2;

    &:after {
      color: $link-hover-colour;
    }

    .summarised & {
      border: 1px solid $grey-3;
    }

  }

  h3 {

    display: inline-block;
    @include core-19;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 8px 8px 13px;
    margin: 0;
    position: relative;

    &:before {
      content: "▼";
      font-size: 11px;
      color: $grey-1;
      position: relative;
      top: -4px;
      left: -1px;
    }

    .summarised & {

      cursor: default;
      display: inline-block;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }

    }

    .openCopy {
      display: none;
    }

    .closedCopy {
      display: inline-block;
    }

  }

  p {
    height: 5em;
    margin: 10px 0 2px 0;
  }

  .chunk, input, legend, .exp, .searchbuilder-container-add-button, p {
    display: none;
  }

  .nextButton {
    display: none;
  }

  input[type=radio],
  input[type=checkbox] {

    display: none;

    .open & {
      display: inline-block;
    }

  }

  .chunk {
    margin: 0 0 0 10px;
  }

  .optionSelected {
    display: inline-block;

    .summarised & {
      cursor: default;
    }

  }

  &.open {

    display: block;
    float: none;
    padding: 8px;
    background: $highlight-colour;
    padding: 10px;
    border: 1px solid $grey-2;
    -webkit-column-count: 2;

    &.hidden {
      display: none;
    }

    &:after {
      display: none;
    }

    h3 {
      display: block;
      -webkit-column-span: all;
      padding: 0 0 10px 0;

      &:before {
        content: "▲";
        top: -3px;
      }

      &:after {
        content: "";
      }

      .openCopy {
        display: inline;
      }

      .closedCopy {
        display: none;
      }

    }

    .chunk, input, legend, .exp, .searchbuilder-container-add-button, p {
      margin-left: 1px;
      display: inline-block;
    }

    .nextButton {

      display: block;
      background: none;
      border: none;
      width: 100px;
      -webkit-column-span: all;
      @include core-19;
      color: $link-colour;
      text-align: left;
      text-decoration: underline;

      &:hover {
        color: $link-hover-colour;
        cursor: pointer;
      }

    }

    #addKeyword {
      width: 80px;
      @include button($grey-2);
      margin: 0 0 0 -5px;
      padding-top: 0.25em;
      top: 1px;
      height: 49px;
    }

    .chunk {
      display: block;
      margin: 0 0 10px 0;
    }

    &.keywords-section {
      -webkit-column-count: auto;
    }

    &.servicetype-section {
      -webkit-column-count: 3;

      .chunk {
        margin-top: 1px;
      }

    }

  }

}

.searchbuilder-requirements-finder {

  background: $white;
  border: 1px solid $grey-3;
  display: none;

}


.searchbuilder-count {
}

.count-results {
  font-size: 40px;
  float: right;
  }




.makeshortlist {
background: $grey-4;
border: 5px solid $grey-2;
padding: 20px;
margin-top: 50px;}



#makeshortlist {
overflow: hidden;
line-height: 150%;
background: $grey-4;
padding: 20px;
border: 1px solid $grey-3;
}

.search-counter {
background: white;
padding: 5px;
border: 1px solid $grey-3;
text-align: right;
float: right;
}

.services {
width: 80%;
float: left;
}


#makeshortlist p {
font-size: 19px;}



.lot {
display: inline-block;
background: white;
border-bottom: 1px solid $grey-3;
padding: 5px 2px 0 5px;
margin-bottom: 11px;
margin-right: 10px;
}


.lot-selected {
display: inline-block;
background: $green;
color: white;
padding: 5px 2px 0 5px;
margin-bottom: 10px;
margin-right: 10px;
border-bottom: 2px solid $grey-1;
}




#makeshortlist {
overflow: hidden;
line-height: 150%;
background: $grey-4;
padding: 20px;
border: 1px solid $grey-3;
}

.search-counter {
background: white;
padding: 5px;
border: 1px solid $grey-3;
text-align: right;
float: right;
}

.services {
width: 80%;
float: left;
}


#makeshortlist p {
font-size: 19px;}

.top-cat-holder {
overflow: auto;
}


.top-cat {
float: left;}



.lot {
display: inline-block;
background: white;
border-bottom: 1px solid $grey-3;
padding: 5px 2px 0 5px;
margin-bottom: 11px;
margin-right: 10px;
}



.lot-selected {
display: inline-block;
background: $green;
color: white;
padding: 5px 2px 0 5px;
margin-bottom: 10px;
margin-right: 10px;
border-bottom: 2px solid $grey-1;
}



/* Shortlist picker */

#shortlist-holder {
background: $grey-4;
border: 1px solid $grey-2;
padding-left: 10px;
padding-right: 10px;
margin-top: -1px;
display: inline block;
}

#shortlist-holder p {
font-size: 16px;}

.shortlist-line {
border-bottom: 1px solid $grey-3;}

/* Shortlist */

.project-desc {
width: 60%;
padding: 5px 0 15px 10px;
margin: 10px 0 10px 0;
}

#project-name {
background: $grey-4;
border: 1px solid $grey-3;
width: 80%;
padding: 10px 0 0 15px;
margin-top: -40px;
margin-bottom: 5px;
}

#sub-links {
margin-bottom: 17px;
text-align: right;
}

#sub-links a {
margin-right: 7px;
font-size: 16px;
}


.shortlist {
margin-top: 40px;
width: 80%;
}

.eval-crit-box {
padding: 10px 10px 10px 5px;
margin: 7px 0 7px 0;}


.eval-crit {
background: #DEE0E2;
padding: 7px;
margin-right: 10px;}


.buttonclear {
  clear: both;
  overflow: hidden;

}

.shortlist-header {
border-bottom: 2px solid #BFC1C3;
padding: 10px;
margin-bottom: 10px;
background: #F8F8F8;
}

#delete-product {
text-align: center;
}


.count {
font-family: "nta","GDS-Regular",sans-serif;
font-size: 48px;
font-weight: bold;
line-height: 1;
padding-right: 10px;
text-transform: none;
float: left;
}

#search-result {
border-bottom: 1px solid #bfc1c3;
}



.active-shortlist {
border: 2px solid $grey-3;}

.shortlist-item {
background: white;
padding: 15px;
border-bottom: 2px solid $grey-3;
}

.shortlist-bin {
margin-top: 50px;
margin-top: 1px solid $grey-3;}

.shortlist-item-removed {
margin-top: 10px;
padding: 5px;
border: 1px solid $grey-3;
}

.shortlist-note {
background: $grey-4;
padding: 10px;
margin: 3px;
border: 1px dotted $grey-2;}

.shortlist-links {
margin-right: 5px;}

#remove-reason {
border: 2px solid $grey-1;
background: $grey-4;
margin-top: -5px;
margin: 10px;
padding: 10px 10px 5px 20px;
}


#shortlist-item-removed {
background: $yellow-25;
padding: 5px;
text-align: center;
}


#help-search-1 {
display: none;
min-height: 60px;
border-bottom: 1px solid #bfc1c3;
padding: 10px 10px 10px 5px;
}

#help-search-2 {
border: 1px solid #bfc1c3;
padding: 10px 10px 10px 10px;
background: #f1f1f1;
text-align: center;
}


.supplier {
font-size: 18px;
font-weight: bold;
margin-bottom: -20px;
}


#list-results {
padding: 10px 0 0 0}


#feedback {
font-size: 19px;
margin-bottom: 10px;
}


#fdbutton {
background: green;
color: white;
padding: 5px;
width: 150px;
}



.supplier-logo {
height: 50px;
width: 100px;
float: right;
margin: 20px 0 20px 10px;}

#phase-notice {
@include phase-banner(alpha);
}

.alpha-tag {
@include phase-tag(alpha);
}


.product {
font-size: 20px;
font-weight: bold;
margin-bottom: -20px;
}

.supplier {
font-size: 14px;
font-weight: normal;
color: $secondary-text-colour;
margin-bottom: -2px;
}






/* Listing */

.thumb {
border: 5px solid $grey-3;
margin-bottom: 40px;
margin-right: 20px;}

.thumb-active {
border: 5px solid $grey-1;
margin-bottom: 40px;
margin-right: 20px;}


.screenshot {
margin-top: 20px;
border: 5px solid #dee0e2;}

#keywords {
margin: 0 auto 5px auto;
overflow: auto;
width: 400px;
}


#keyword {
background: #dee0e2;
padding: 5px;
margin: 0px 3px 3px 0;
float: left;
}

#infosection {
margin: 20px 0 20px 0;
}

#watchlist {
margin-top: -40px;}

#pricing {
margin: 0 auto;
overflow: auto;
padding: 20px 0 30px 0;
}

#unitpickerm {
display: block;
border: 4px solid $grey-3;
padding:  0 10px 0px 10px;}

#unitpickerm p {
line-height: 40%;
font-size: 16px;}


#price {
float: left;
margin-right: 10px;
}

#price-unit {
float: left;
width: 80px;
}



ul li {
@include copy-19;
}

.price {
font-weight: bold;}


.page-sect {
margin: 50px 0 80px 0;}

#listing-sect {
margin: 50px 0 50px 0;}

#features {
margin-bottom: 50px;}

.question {
padding: 10px;
margin: 2px 0 10px 0;
border-bottom: 1px solid $grey-2;
background: $grey-4;
}

.question p {
margin: 0;}

.qmd {
margin-top: 5px;
}

.open-questions {
margin-bottom:10px;
padding: 1px dashed $grey-3;}

.answerposted {
background: $yellow-25;
padding: 10px;
border: 1px solid #cccccc;
}

.questioncategory {
margin-top: 20px;
}

#line {
margin: 10px 0 20px 0;
border-top: 1px solid #dee0e2;
}



.form-label { font-family: "nta", Arial, sans-serif;
font-size: 19px;
line-height: 1.31579;
font-weight: 400;
text-transform: none;
display: block;
margin-bottom: 5px;}


.form-group {
margin-bottom: 30px;
margin-top: -20px;
}

.form-control {
width: 50%;
}

.login-group {
margin-top: 30px;
}



/* Search results */

.results-summary {
  border-bottom: 1px solid $grey-3;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.results-summary p {
  width: 80%;
  font-size: 24px;
  margin: 0;

}



#resultsadded {
padding: 5px;}

/* Search form */

#adv-wrapper {
overflow: auto;}

.adv-form-group {
margin-bottom: 10px;
width: 60%;
}

.adv-form-group control {
float: left;
width: 50%;
margin-bottom: 4px;
}

.adv-form-group-control {
float: left;
width: 50%;
}


.shortlist-input {
width: 370px;
margin-left: 10px;
margin-right: 10px;
}


#active-filters {
overflow: auto;
}

#active-filters p {
font-size: 16px;}

.active-filter {
background: $grey-4;
color: black;
padding: 5px;
font-size: 16px;
border: 1px solid $grey-3;
}

.remove {
float: right;
margin: 10px 10px 0 0;
}

.filterimg {
margin-top: 2px;
margin-left: 5px; }


/* Password reset feedback */

.pw-changed {
color: $green;
background: $grey-4;
padding: 20px;
border-left: 5px solid $green;
}

.unsaved-changes {
color: $red;
background: $grey-4;
padding: 20px;
border-left: 5px solid $red;
margin-bottom: 10px;
margin-top: 20px;
}


.email-sent {
color: $green;}

.pw-failed {
color: $red;
padding-bottom: 20px;
}


/*New filters and categories*/

.filter-header {
  margin-top: 100px;
}
.filter-header p {
font-size: 24px;}

.filter-applied {
background: $grey-4;
color: black;
padding: 3px 3px 3px 3px;
margin-bottom: 4px;
overflow: auto;
border-bottom: 1px solid $grey-3;
}

.filter-applied p {
letter-spacing: 0.009em;
font-size: 14px;
margin:0;}

.filter-remove {
float: left;
margin-right: 10px;
margin-left: 10px;
display: block;
height: 50px;
}

.filter-remove p {
font-size: 24px;}

.filter-remove a {
text-decoration: none;
color: black;}



.lev-1 {
}

.lev-1 p {
color: $grey-1;
}

.lev-2 {
margin-left: 10px;
}


.category-browse {
margin-bottom: 20px;}


.adv-form-group input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    border-color: #bfc1c3;
    text-transform: none;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    line-height: 48px!important;
}



/* Fake Accordion */


#fakeaccordion {
background: #dee0e2;
border: 1px dotted #a1acb2;
overflow: auto;
margin: 5px 5px 5px 0;
padding: 5px;
}

#fakeaccordion p {
  margin: 0;
}

table p {
  margin: 0;
}
.catname {
font-size: 24px;
font-weight: bold;
}

#catname {
float: left;}

.exp {
float: right;
margin: 3px 3px 0 0;
}

#drag {
float: left;
background: url('../images/drag_icon.png') no-repeat;
width: 20px;
height: 20px;
margin: 7px 20px 0 0;
}

table {
width: 99.4%;
border: 1px dotted #a1acb2;
padding: 1px;
margin: -6px 5px 0 0;
}

td {
width: 70%;
padding: 5px;
}

.tick {
font-size: 18px;
color: #20C983;
margin-left: 10px;}

.cross {
font-size: 30px;
color: #D43552;
margin-left: 10px;
}

.alternate {
background: $grey-4;}











/*Home placeholder*/


#holder {
overflow: auto;
width: 950px;
margin-top: 25px;
}


#holder h3 {
  margin-bottom: -10px;
  font-weight: normal;
}

#holder ul li {
list-style-type: none;
margin-left: -30px;}

#category {
width: 43%;
height: 320px;
float: left;
margin-right: 5%;
margin-bottom: 1%;
}

#category p {
font-size: 18px;}


/*Supplier*/

.subpage {
font-size: 24px;
color: grey;
margin-bottom: -20px;
}


#inner {
padding-right: 20px;
}




/* GOVUK Landing specific */


.procurement-services {
margin: 0 auto;
overflow: auto;
}

.category-description {
width: 65.5%;
font-size: 160%;}

.category-description p {
font-size: 24px;}

.subcategory-group {
float: left;
width: 32%;
margin-right: 1%;
}


.subcategory-group {
}

/* Search revised */


@media(max-width:640px) {
    main.search h1 {
        font-size: 20px;
        line-height: 1.2;
    }
}

main.search .search-header {
    position: relative;
    margin: 0;
    padding: 0px 15px 15px;
    overflow: visible;
}

@media(min-width:641px) {
    main.search .search-header {
        width: 100%;
        padding: 0px 20px 10px 0px;
    }
}


main.search .search-header .searchfield {
  width: 100%;
    position: relative;
}

main.search .search-header .search-input {
    position: static;
    margin: 0;
    padding: 0 0 0 0;
    width: 100%;
}

main.search .search-header .search-submit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    overflow: visible;
}





main.search .search-header input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 0 0 0;
    border-color: #bfc1c3;
    text-transform: none;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    line-height: 48px!important;
}

@media(max-width:640px) {
    main.search .search-header input {
        font-size: 16px;
        line-height: 1.25;
    }
}

main.search .search-header input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

main.search .search-header button {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: $green;
    background-image: url(https://assets.digital.cabinet-office.gov.uk/frontend/search/search-button-ae8b4a52fcf80102a4ebccdde74bd46c.png);
    background-position: -12.5% 50%;
    background-repeat: no-repeat;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

main.search .search-header button:hover {
    background-color: #267daf;
}


// Horrible inline search builder stuff

.save-changes-btn {
    display: inline-block;
}

.last-modified {
    display: inline-block;
}




input[type=text] {
  margin: 0 0 15px 0;
  padding-left: 5px;
}

#suggestions {

  padding: 0;
  margin: -5px 0 20px 0;
  height: 0;
  width: auto;
  position: relative;
  z-index: 100;
  display: none;

  .open & {
    display: block;
    width: 478px;
  }

}

#suggestions li {
  background: white;
  border: 1px solid #bfc1c3;
  border-top: none;
  list-style: none;
  padding: 15px 5px;
  cursor: pointer;
}
#suggestions li.selected {
  background: #fff2d3;
}
#suggestions:hover li:first-child {
  background: #fff;
}
#suggestions:hover li:hover {
  background: #fff2d3;
}

.options li,
.chunk {

  display: inline-block;
  list-style: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 0 0 10px;
  background: #dee0e2;
  border: 1px solid #dee0e2;

  .summarised & {
    cursor: default;
  }

}

.open {

  .options li {
    margin: 0 10px 10px 0;
  }

}

.options li:hover, .chunk:hover {
  border: 1px solid #0b0c0c;
}

#picked li,
.options li.optionSelected,
.chunk.optionSelected {
  background: white;
  border: 1px solid #0b0c0c;
}


  #picked li:after {

    .open & {
      content: "×";
      border-radius: 50%;
      border: 1px solid white;
      background: #dee0e2;
      color: #888;
      width: 1.2em;
      height: 1.2em;
      text-align: center;
      display: inline-block;
      margin-left: 15px;
    }

  }

  #picked li:hover:after {
    background: #df3034;
    color: white;
  }

input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: none;
}

#submitButton {
  font-size: 24px;
  float: right;
  position: relative;
}

#editSearchBuilder {
  @include button($grey-1);
  @include core-24;
}


#global-breadcrumb{
  padding: 0.75em 0;
  margin: 0;
  nav ol li{
    background-image: url(https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    float: left;
    list-style: none;
    margin-left: 0;
    margin-right: 0.5em;
    padding-right: 1em;
  }
  nav ol {
    margin: 0;
    padding: 0;
  }
  nav ol li:last-child{
    background: none;
  }
}


// govuk_frontend_toolkit helpers
@import "typography";
@import "measurements";
@import "colours";
@import "shims";
@import "css3";
@import "design-patterns/buttons";
/* @import "not-ie-conditional";*/

$gutter: 10px;
$gutter-half: $gutter/2;
$gutter-one-third: $gutter/3;
$gutter-two-thirds: $gutter*2/3;



#wrapper {
  display: block;
  text-align: center;
  padding-bottom: $gutter;

  @include media(desktop) {
    padding-bottom: $gutter*2;
  }

  #content {
    text-align: left;
    display: block;
    position: relative;
    margin: 0 auto;
    width: auto;
    max-width: 960 + $gutter*2;
    //@extend %contain-floats;
/*
    @include ie-lte(8){
      width: 960px;
    }*/
  }
}

.inner-block {
  margin: 0 $gutter-half;
  @include media(tablet) {
    margin: 0 $gutter;
  }
}

#global-header-bar .inner-block {
  margin: 0;
}

header h1 {
  @include heading-48;
  @include bold-48;
  margin: 0 $gutter-half $gutter;

  @include media(tablet) {
    margin: $gutter;
    width: $two-thirds;
  }
}

.filter-form,
.filtered-results {
  @include media(tablet) {
    float: left;
    width: $one-third;
  }
}
.filtered-results {
  @include media(tablet) {
    width: $two-thirds;
  }
}

.filter-form {
  p {
    @include core-16;
    margin-bottom: $gutter;
  }

  p.filter-heading {
  font-size: 19px;
  margin: 20px 0 10px 0;}

  .filter {
    margin-bottom: $gutter;
    background-color:$grey-3;
    padding:5px;

    &:focus {
      outline: 3px solid #ffbf47;
    }

    .legend {
      @include core-19;
      display: inline-block;
      margin-right:60px;
      font-weight:bold;

      span {
        display: none;
        font-weight: normal;
      }
    }
  }
  .radio-filter {
    padding: $gutter-one-third;

    label {
      margin-right:$gutter-one-third;
      display: inline-block;
    }
    input {
      width:14px;
    }
  }

  .checkbox-filter {

    .js-enabled & {
      .head {
        cursor:pointer;
      }
      .toggle {
        background: image-url('public/images/toggle-sprite.png') no-repeat;
        height: 10px;
        width: 12px;
        background-position:-12px 0;
        display: inline-block;
      }
      &.closed {
        .checkbox-container {
          position:absolute;
          left:-9999px;
          padding:0;
          margin:0;
        }
        .toggle {
          background-position:0 0;
        }
        .legend span {
          display: block;
        }
      }
    }
    /* Redefine scrollbars so they are always visible in scrolling checkbox lists */
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    .head {
      //@extend %contain-floats;
      padding: 5px;
      position:relative;

      .controls {
        position:absolute;
        right:5px;
        top:5px;
        .clear-selected {
          display: inline-block;
          margin-right: 5px;

          &.js-hidden {
            left: -9999em;
            position: relative;
            height:0px;
            overflow:hidden;
          }
        }
      }
    }
    .checkbox-container {
      position:relative;
      padding: 5px;
      background-color: $white;
      height:200px;
      overflow-y:scroll;
      overflow-x:hidden;

      ul {
        margin:0;
        padding:0;
        list-style:none;
        ul {
          padding-left: $gutter-two-thirds;
        }
      }
      li {

        label {
          display: inline-block;
          margin-left:20px;

          span {

            font-size: 16px;
            letter-spacing: 1px;
            color: $grey-1;
            padding-left: 0.3em;
          }
        }
        /* IE6 doesn't support psuedo selectors so scoping to checkbox-container instead of using a psuedo selector */
        input {
          width: 12px;
          border:none;
          margin: 3px $gutter-one-third 0 0;
          vertical-align: top;
          position:absolute;
        }
      }
    }
  }

  input {
    @include core-14;
    background: $white;
    border: 1px solid $border-colour;
    width: $full-width;
    margin: 0 0 0 -1px;

    @include media (desktop) {
      padding: 5px 0;
      text-indent: 5px;
      @include core-16;
    }
  }

  .button {
    @include button($button-colour);
    width: auto;
    @include bold-24;
    margin-top: 20px;
  }
}

.filtered-results {
  .result-info {
    @include core-16;
    vertical-align: baseline;
    border-bottom: solid 1px $border-colour;
    padding-bottom: $gutter-half;

    .result-count {
      @include bold-48;
      margin-right: $gutter-one-third;
    }
    a {
      color: $secondary-text-colour;
      text-decoration: none;
      font-weight: normal;
      position: relative;
      top: 1px;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .document {
    border-bottom: solid 1px $border-colour;
    padding: $gutter-half 0;

    h3 {
      @include bold-19;
      margin: 0;
    }

    dl {
      margin: 0;

      dt { display: none; }
      dd {
        @include core-14;
        margin-left: 0;
        margin-right: $gutter-one-third;
        display: inline-block;
      }
    }
  }
}

.side-by {

  width: 100%;
  float: none;

  .filter {
    float: left;
    margin-right: 10px;
    width: 250px;
  }

}

.results-summary {

  overflow: hidden;

}

#searchTools {

  position: relative;
  top: 0;
  right: 0;
  float: right;

  button {
    display: block;
    font-size: 24px;
  }

  a {
    font-size: 19px;
    text-align: center;
    display: block;
  }

}

#simpleSearch {

  label {
    display: block;
    @include copy-19;
  }

  input, button {
    display: inline-block;
  }

  input {
    text-index: 10px;
    padding-right: 100px;
    box-sizing: border-box;
  }

  button {
    @include button;
    font-size: 24px;
    font-weight: bold;
    padding-top: 11px;
    padding-bottom: 8px;
    position: relative;
    top: 2px;
    left: -100px;
  }

}


#bizops {

  transition: background 0.4s ease-in-out;

  &.ajaxYellow {
    background: $yellow-50;
  }

}

#saveSearchButton {
margin-bottom: 10px;
}

.contents-index p {
  margin: 0;
  padding: 0 0 0 20px;
}

.contents-index h2, h3 {
  margin-top: 20px;
}

@import "_ssp";
