<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>digiPlant</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.min.css'}" />
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
	<script src="@{'/public/javascripts/ie-shim.min.js'}"></script>
<![endif]-->

<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		<a class="brand" href="/">Play Angular</a>
		<ul class="nav">
			<li><a class="active" href="/login">Login</a></li>
			<li><a href="/todos">Todos</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<div ng-controller="GrowlCtrl">
		<alert ng-repeat="alert in alerts" type="alert.type" close="close($index)">{{alert.msg}}</alert>
	</div>
	<div ng-view></div>
</div>

<script src="@{'/public/javascripts/jquery.min.js'}"></script>
<script src="@{'/public/javascripts/angular.min.js'}"></script>
<script src="@{'/public/javascripts/main.min.js'}"></script>

</body>
</html>
