#{extends 'layout.html' /}
#{set title:'Document Upload' /}

Attach document

<table border="1">
    <tr>
        <th>ID</th><th>Name</th><th>Type</th><th>ListingId</th><th>PageId</th>
    </tr>
    #{list documents, as:'document'}
    <tr>
        <td>${document.id}</td><td><a href="/documents/download/${document.name}">${document.name}</a></td><td>${document.type}</td><td>${document.listingId}</td><td>${document.pageId}</td>
    </tr>
    #{/list}
</table>

#{form @submitDocuments(), enctype:'multipart/form-data'}
    <table>
        <tr>
            <th>ListingId</th><td><input type="text" name="listingId" /></td>
        </tr>
        <tr>
            <th>PageId</th><td><input type="text" name="pageId" /></td>
        </tr>
    </table>
    <input type="file" id="doc" name="doc" />
    <input type="submit" value="Send it..." />
#{/}
