.input-list {

  &-add-button {
    @include core-19;
  }

  &-remove-button {

    @include core-19;
    margin: 0 0 10px 0;
    padding: 0 0 0 15px;
    display: block;

    @include media(desktop){
      margin: -52px 0 25px 66%;
    }

  }

  .text-box {

    padding-left: 35px;

    &-number-label {
      float: left;
      @include core-19;
      width: 1.6em;
      margin: 13px -1.6em 0 0;
      position: relative;
      left: 10px;
      color: $grey-2;
      font-weight: bold;
      pointer-events: none;
    }

  }

}
