.question {

  &-heading {

    @include core-24;
    font-weight: bold;
    margin: 0 0 15px 0;
    padding: 0;

    &-with-hint {
      margin-bottom: 0;
    }

  }

  &-hint {
    @include copy-19;
    margin: 0 0 10px 0;
    color: $secondary-text-colour;
  }

  &-description {

    @include copy-19;
    margin: 0 0 25px 0;

    @include media(desktop) {
      width: 66%;
    }

  }

}
