.banner {

  background: $highlight-colour;
  @include core-24;
  padding: 20px 20px 25px 20px;
  margin-top: 15px;

  &-destructive {
    @extend .banner;
    border-left: 5px solid $red;
    color: $red;
  }

  &-warning {
    @extend .banner;
    border-left: 5px solid $accessible-orange;
    color: $accessible-orange;
  }

  &-success {
    @extend .banner;
    border-left: 5px solid $green;
    color: $green;
  }

  &-action {
    margin-top: 15px;
  }

}
