.error {
  float: left;
  width: 66.6667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 60px;

  p {
      padding-bottom: 5px;
      font-size: 19px;
      line-height: 1.3157894737;
      margin: 19px 0;
  }

  h1, h2 {
      padding-top: 7px;
      padding-bottom: 13px;
      font-family: "nta", Arial, sans-serif;
      line-height: 1.0416666667;
      font-weight: 400;
      text-transform: none;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      margin: 30px 0;
  }

  h1 {
      font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }
}