.page-heading {

  @include heading-36;
  font-weight: bold;

  @include media(desktop) {
    padding-top: 2px;
  }

}

.page-heading-without-position {
  @extend .page-heading;
  margin-top: 25px;
}
