.question {

  margin: 15px 0 0 0;
  clear: both;

  &-heading {

    display: block;
    @include heading-24;
    font-weight: bold;
    margin: 0 0 10px 0;
    float: left; // This nixes the default positioning of a fieldset, which is
    width: 100%; // half outside the fieldset

    &-with-hint {
      margin-bottom: 0;
    }

  }

  &-hint,
  &-description {
    @include copy-19;
    max-width: 66%;
  }

  &-hint {

    margin: 0 0 5px 0;
    color: $secondary-text-colour;

    &-full-width {
      @extend .question-hint;
      max-width: none;
    }

  }

  &-description {
    margin: 0 0 10px 0;
    clear: left;
  }

}
