.summary {

  &-item {
    width: 100%;
    margin: 10px 0 15px 0;
  }

  &-heading {

    @include core-24;
    font-weight: bold;
    position: relative;
    padding: 35px 25% 0 0;
    margin: 0 0 10px 0;
    @include box-sizing(border-box);

    &-number {
      position: absolute;
      width: 40px;
      left: -55px;
      text-align: right;
    }

  }

  &-top-level-action {
    @include copy-19;
    text-align: right;
    margin: -36px 0 0 0;
    padding-left: 75%;
    position: relative;
    z-index: 10;
  }

  &-answer-list {
    border-bottom: 1px solid $grey-3;
    margin: 0 0 30px 0;
  }

  &-row {

    @include core-19;
    text-align: right;
    border-top: 1px solid $grey-3;

    td {
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: top;
    }

    &-incomplete {

      .summary-question {

        span {
          padding-left: 10px;
          border-left: 3px solid $accessible-orange;
        }

      }

      .summary-answer {

        color: $accessible-orange;

        a {
          color: $accessible-orange;
        }

      }

    }

  }

  &-incomplete-message {
    color: $accessible-orange;
    font-weight: bold;
    margin: 40px 0 20px 0;
  }

  &-without-answers {
    border-top: 1px solid $grey-3;
    border-bottom: 1px solid $grey-3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 30px 0;
    max-width: 100%;
  }

  &-answer-heading {
    position: absolute;
    left: -9999em;
  }

  &-answer-title {
    text-align: left;
    width: 100%;
  }

  &-answer-progress,
  &-answer-action {
    white-space: nowrap;
    padding-left: 20px;
    vertical-align: middle;
  }

  &-answer-button {
    @include button($grey-3);
    @include core-16;
    margin: 0 0 -10px 0; // Hack to make sure the button doesn't expand the row
    position: relative;
    top: -2px;
  }

  &-question {
    width: 50%;
    text-align: left;
    padding-right: 25px;
  }

  &-answer {

    width: 50%;
    padding-left: 25px;
    text-align: left;

    ul {
      list-style-type: disc;
      padding-left: 20px;
    }

  }

  &-return-link {
    @include heading-27;
    margin-bottom: 25px;
  }

}
