.summary {

  &-item {
    margin: 10px 0 15px 0;
  }

  &-heading {
    @include core-24;
    font-weight: bold;
    position: relative;
    padding: 35px 50% 0 0;
    margin: 0 0 10px 0;
    @include box-sizing(border-box);
  }

  &-top-level-action {
    @include copy-19;
    text-align: right;
    margin: -36px 0 0 0;
    padding-left: 50%;
    position: relative;
    z-index: 10;
  }

  &-answer-list {

    border-bottom: 1px solid $grey-3;
    margin: 0 0 30px 0;

  }

  &-row {

    @include core-19;
    text-align: right;
    border-top: 1px solid $grey-3;

    td {
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: middle;
    }

  }

  &-without-answers {
    border-top: 1px solid $grey-3;
    border-bottom: 1px solid $grey-3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 30px 0;
  }

  &-answer-heading {
    display: none;
  }

  &-answer-title {
    text-align: left;
    width: 100%;
  }

  &-answer-progress,
  &-answer-action {
    white-space: nowrap;
    padding-left: 20px;
  }

  &-answer-button {
    @include button($grey-3);
    @include core-16;
    margin: 0 0 -10px 0; // Hack to make sure the button doesn't expand the row
    position: relative;
    top: -2px;
  }


}
