#{extends 'layout.html' /}
#{set title:'Page 1a Title | Digital Marketplace Service Submission' /}

<div class='breadcrumb-navigation'>
  <nav>
    <ol>
      <li class='breadcrumb-navigation-item'>
        <a href="/" class='breadcrumb-navigation-link'>Your G-Cloud 6 submissions</a>
      </li>
      <li class='breadcrumb-navigation-item'>New IaaS submission</li>
    </ol>
  </nav>
</div>

<form action="${request.getBase()}${request.url}" method="POST">

  <p class="position position-page-${pageNum}">
    Page ${pageNum} of ${pageTotal}
  </p>
  <h1 class="page-heading">
    ${sectiontitle}
  </h1>
  <fieldset>
    <legend class="question-title">
      ${content.q1text}
    </legend>
    <p class="question-hint">
      ${content.q1hint}
    </p>
    %{
      for (index in 1..2) {
    }%
      #{forms/selection-button-checkbox
        name: 'p1q1',
        label: 'Option ' + index,
        value: 'box' + index + 'val',
        checked: oldValues?.get('p1q1')?.contains('box' + index + 'val')
      /}
    %{
      }
    }%
  </fieldset>
  <div class="page-footer">
    <input type="submit" value="Save and continue" class="page-footer-item button button-save" />
    <p class="page-footer-item">
      <a href="#">Go back to previous page</a>
    </p>
    <p class="page-footer-item">
      <a href="/">Return to dashboard</a>
    </p>
  </div>
</form>
