#{extends 'layout.html' /}
#{set title:'Page 1a Title | Digital Marketplace Service Submission' /}

<div id="global-breadcrumb">
  <nav>
    <ol>
      <li><a href="/">Your G-Cloud 6 submissions</a></li>
      <li>New IaaS submission</li>
    </ol>
  </nav>
</div>

<form id="questions-container" action="${request.getBase()}${request.url}" method="POST">
    <p>flash: ${flash}</p>
    <section style="display: block;"><p class="page-count page-${pageNum}">Page ${pageNum} of ${pageTotal}</p>
        <h1>${content?.get("p1title")}</h1>
        <fieldset><legend>${content?.get("p1q1text")}</legend><p class="hint">${content.get("p1q1hint")}</p>
            <label class="chunk">
                <input type="checkbox" name="p1_q1" value="${content.get("p1q1q1val1")}" #{if oldValues?.get("p1_q1")?.contains(content.get("p1q1val1"))} checked #{/if}>
                ${content.get("p1q1val1label")}
            </label>
            <label class="chunk">
                <input type="checkbox" name="p1_q1" value="${content.get("p1q1val2")}" #{if oldValues?.get("p1_q1")?.contains(content.get("p1q1val2"))} checked #{/if}>
                ${content.get("p1q1val2label")}
            </label>
        </fieldset>
    <input type="submit" value="Save and continue"><p class="goBackAPage"><a href="#">Go back to previous page</a></p><p class="returnToDashboard"><a href="/">Return to dashboard</a></p></section>

</form>
