#{extends 'layout.html' /}
#{set title:'Page 1a Title | Digital Marketplace Service Submission' /}

#{breadcrumb-one-deep
  tip: 'New ' + lot + ' submission'
/}

<form action="${request.getBase()}${request.url}" method="POST">
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p1title')
  /}
  <fieldset>
    <legend class="question-heading">
      ${content.get('p1q1text')}
    </legend>
    #{forms/hint
      hint: content.get('p1q1hint')
    /}
    %{
      for (index in 1..2) {
    }%
      #{forms/selection-button-checkbox
        name: 'p1q1',
        label: content.get('p1q1val' + index + 'Label'),
        value: content.get('p1q1val' + index),
        checked: oldValues?.get('p1q1')?.contains(content.get('p1q1val' + index))
      /}
    %{
      }
    }%
  </fieldset>
  #{footer/}
</form>
