#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>

  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p11title')
  /}

  %{
    for (index in 1..2) {
  }%
    #{forms/selection-button-boolean
      name: 'p11q' + index,
      value: oldvalues?.get('p11q' + index),
      label: content.get('p11q' + index + 'text'),
      hint: content.get('p11q' + index + 'hint')
    /}
  %{
    }
  }%

  #{footer/}

</form>
