#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p12title')
  /}
  <fieldset class='question'>
  #{forms/selection-button-boolean
    name: 'p12q1',
    value: oldvalues?.get('p12q1'),
    label: content.get('p12q1text'),
    hint: content.get('p12q1hint')
  /}
  </fieldset>
  #{footer/}
</form>
