#{extends 'layout.html' /}
#{set title: pageTitle /}

%{
  def page = 'p12'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  service_id: listingID,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>

  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title'),
    content: content,
    page: 12
  /}

  %{
    question = page + 'q1'
  }%

  #{forms/selection-button-boolean
    name: 'p12q1',
    value: oldValues?.get(question),
    label: content.get(question + 'text'),
    hint: content.get(question + 'hint'),
    error: content.get(question + flash.get(question))
  /}

  #{footer prevPageURL: prevPageURL, summaryPageURL: summaryPageURL, return_to_summary: return_to_summary /}

</form>
