#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p13title')
  /}
  %{
    for (index in 1..3) {
  }%
    #{forms/selection-button-boolean
      name: 'p13q' + index,
      value: oldvalues?.get('p13q' + index),
      label: content.get('p13q' + index + 'text'),
      hint: content.get('p13q' + index + 'hint')
    /}
  %{
    }
  }%
  #{footer/}
</form>
