#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p14'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  service_id: listingID,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>

  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p14title'),
    content: content,
    page: 14
  /}

  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{forms/selection-button-boolean
      name: 'p14q1',
      value: oldValues?.get('p14q1'),
      label: content.get('p14q1text'),
      hint: content.get('p14q1hint'),
      error: content.get(question + flash.get(question))
    /}

  %{
    }
  }%

  %{
    for (index in 2..3) {
  }%
    %{
      question = page + 'q' + index
      questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
      if (questionIsRelevantToSelectedLot) {
    }%
      #{forms/textbox
        name: 'p14q' + index,
        value: oldValues?.get(question)?.isEmpty() ? "" : oldValues?.get(question)?.get(0),
        label: content.get('p14q' + index + 'text'),
        hint: content.get('p14q' + index + 'hint'),
        error: content.get(question + flash.get(question))
      /}
    %{
      }
    }%
  %{
    }
  }%

  #{footer/}
</form>
