#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p16'
  def question = ''
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p16title')
  /}
  <fieldset class='question input-list'>
    %{
      question = page + 'q1'
    }%
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint')
    /}
    %{
      for (index in 1..10) {
    }%
      #{forms/textbox-input-list-item
        name: question + 'val' + index,
        numbered: index,
        value: oldValues?.get(question + 'val' + index)
      /}
    %{
      }
    }%
  </fieldset>
  #{footer/}
</form>
