#{extends 'layout.html' /}
#{set title:'Page 1b Title | Digital Marketplace Service Submission' /}

%{
  def page = 'p2'
  def question = ''
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p2title')
  /}
  <fieldset>
    %{
      question = page + 'q1'
    }%
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint')
    /}
    %{
      for (index in 1..18) {
    }%
      #{forms/selection-button-checkbox
        name: question,
        label: content.get(question + 'val' + index + 'Label'),
        value: content.get(question + 'val' + index),
        checked: oldValues?.get(question)?.contains(content.get(question + 'val' + index))
      /}
    %{
      }
    }%
  </fieldset>
  #{footer/}
</form>
