#{extends 'layout.html' /}
#{set title:'Page 1b Title | Digital Marketplace Service Submission' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p2title')
  /}
  <fieldset>
    <legend class='question-heading'>
      Question text
    </legend>
    #{forms/hint
      hint: content.get('p2q1hint')
    /}
    %{
      for (index in 1..18) {
    }%
      #{forms/selection-button-checkbox
        name: 'p2q1',
        label: content.get('p2q1val' + index + 'Label'),
        value: content.get('p2q1val' + index),
        checked: oldValues?.get('p2q1')?.contains(content.get('p2q1val' + index))
      /}
    %{
      }
    }%
  </fieldset>
  #{footer/}
</form>
