#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p20'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  service_id: listingID,
  lot: lot
/}

<form action="${request.getBase()}${request.url}" method="POST">
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title'),
    content: content,
    page: 20
  /}
  <div class="input-list" data-list-item-name="${content.get(question + 'listItemName')}">
    %{
      question = page + 'q1'
    }%
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
    %{
      for (index in 1..10) {
    }%
      #{forms/textbox-input-list-item
        name: question + 'val' + index,
        numbered: index,
        value: oldValues?.get(question + 'val' + index)
      /}
    %{
      }
    }%
    #{question-footer
      error: content.get(question + flash.get(question))
    /}
  </div>
  #{footer/}
</form>
