#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p24'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title')
  /}
  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}

    %{
      for (index in 1..5) {
    }%
      #{forms/selection-button-checkbox
        name: question,
        value: content.get(question + 'val' + index),
        label: content.get(question + 'val' + index + 'Label'),
        checked: oldValues?.get(question)?.contains(content.get(question + 'val' + index))
      /}
    %{
      }
    }%
    #{forms/assurance
      name: question
    /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}

  %{
    }

    question = page + 'q2'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
    %{
        for (index in 1..4) {
      }%
        #{forms/selection-button-checkbox
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label'),
          checked: oldValues?.get(question)?.contains(content.get(question + 'val' + index))
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question
      /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}

  %{
    }

    question = page + 'q3'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{question-heading
      heading: content.get('p24q3text'),
      hint: content.get('p24q3hint'),
      error: content.get(question + flash.get(question))
    /}
    %{
        for (index in 1..4) {
      }%
        #{forms/selection-button-radio
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label')
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question
      /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}

  %{
    }

    question = page + 'q4'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{forms/selection-button-boolean
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question)),
      assurance: true
    /}

  %{
    }
  }%
  #{footer/}
</form>
