#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p24'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  service_id: listingID,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title'),
    content: content,
    page: 24
  /}
  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}

    %{
      for (index in 1..5) {
    }%
      #{forms/selection-button-checkbox
        name: question,
        value: content.get(question + 'val' + index),
        label: content.get(question + 'val' + index + 'Label'),
        checked: oldValues?.get(question)?.contains(content.get(question + 'val' + index + 'Label'))
      /}
    %{
      }
    }%
    #{forms/assurance
      name: question,
      type: content.get(question + 'assuranceApproach'),
      oldval: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0)
    /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}

  %{
    }

    question = page + 'q2'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
    %{
        for (index in 1..4) {
      }%
        #{forms/selection-button-checkbox
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label'),
          checked: oldValues?.get(question)?.contains(content.get(question + 'val' + index + 'Label'))
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question,
        type: content.get(question + 'assuranceApproach'),
        oldval: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0)
      /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}

  %{
    }

    question = page + 'q3'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{question-heading
      heading: content.get('p24q3text'),
      hint: content.get('p24q3hint'),
      error: content.get(question + flash.get(question))
    /}
    %{
        for (index in 1..4) {
      }%
        #{forms/selection-button-radio
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label'),
          oldval: oldValues?.get(question)?.get(0)
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question,
        oldval: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0),
        type: content.get(question + 'assuranceApproach')
      /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}

  %{
    }

    question = page + 'q4'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{forms/selection-button-boolean
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question)),
      value: oldValues?.get(question),
      assurance_type: content.get(question + 'assuranceApproach'),
      assurance_value: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0),
    /}

  %{
    }

    question = page + 'q5'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
      %{
        for (index in 1..6) {
      }%
        #{forms/selection-button-radio
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label'),
          oldval: oldValues?.get(question)?.get(0)
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question,
        oldval: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0),
        name: question,
        type: content.get(question + 'assuranceApproach')
      /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}

  %{
    }
    question = page + 'q6'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
      %{
        for (index in 1..4) {
      }%
        #{forms/selection-button-radio
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label'),
          oldval: oldValues?.get(question)?.get(0)
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question,
        type: content.get(question + 'assuranceApproach'),
        oldval: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0)
      /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}

  %{
    }
    question = page + 'q7'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
      %{
        for (index in 1..7) {
      }%
        #{forms/selection-button-radio
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label'),
          oldval: oldValues?.get(question)?.get(0)
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question,
        type: content.get(question + 'assuranceApproach'),
        oldval: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0)
      /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}

  %{
    }

    question = page + 'q8'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{forms/selection-button-boolean
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question)),
      value: oldValues?.get(question),
      assurance_type: content.get(question + 'assuranceApproach'),
      assurance_value: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0),
    /}

  %{
    }

    question = page + 'q9'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{forms/selection-button-boolean
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question)),
      value: oldValues?.get(question),
      assurance_type: content.get(question + 'assuranceApproach'),
      assurance_value: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0),
    /}

  %{
    }

    question = page + 'q10'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%

    #{forms/textbox-percentage
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question)),
      value: oldValues?.get(question)?.isEmpty() ? "" : oldValues?.get(question)?.get(0),
      assurance_type: content.get(question + 'assuranceApproach'),
      assurance_value: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0)
    /}

  %{
    }
  }%
  #{footer prevPageURL: prevPageURL /}
</form>
