#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p24title')
  /}
  <fieldset>
    #{question-heading
      heading: content.get('p24q1text'),
      hint: content.get('p24q1hint')
    /}
    %{
      for (index in 1..5) {
    }%
      #{forms/selection-button-checkbox
        name: 'p24q1',
        value: content.get('p24q1val' + index),
        label: content.get('p24q1val' + index + 'Label'),
        checked: oldValues?.get('p24q1')?.contains(content.get('p24q1val' + index))
      /}
    %{
      }
    }%
    #{forms/assurance
      name: 'p24q1'
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p24q2text'),
      hint: content.get('p24q2hint')
    /}
    %{
      for (index in 1..4) {
    }%
      #{forms/selection-button-checkbox
        name: 'p24q2',
        value: content.get('p24q2val' + index),
        label: content.get('p24q2val' + index + 'Label'),
        checked: oldValues?.get('p24q2')?.contains(content.get('p24q2val' + index))
      /}
    %{
      }
    }%
    #{forms/assurance
      name: 'p24q2'
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p24q3text'),
      hint: content.get('p24q3hint')
    /}
    %{
      for (index in 1..4) {
    }%
      #{forms/selection-button-radio
        name: 'p24q3',
        value: content.get('p24q3val' + index),
        label: content.get('p24q3val' + index + 'Label')
      /}
    %{
      }
    }%
    #{forms/assurance
      name: 'p24q3'
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p24q4text'),
      hint: content.get('p24q4hint')
    /}
    #{forms/selection-button-boolean
      name: 'p24q4',
      label: content.get('p24q4valtext')
    /}
    #{forms/assurance
      name: 'p24q4'
    /}
  </fieldset>
  #{footer/}
</form>
