#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p26'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p26title')
  /}
  <fieldset>
    #{question-heading
      heading: content.get('p26q1text'),
      hint: content.get('p26q1hint')
    /}
    #{forms/selection-button-boolean
      name: 'p26q1',
      label: content.get('p26q1valtext')
    /}
    #{forms/assurance
      name: 'p26q1'
    /}
  </fieldset>
  #{footer/}
</form>
