#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p28'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title')
  /}
  <fieldset>
    #{question-heading
      heading: content.get('p28q1text'),
      hint: content.get('p28q1hint')
    /}
    %{
      for (index in 1..4) {
    }%
      #{forms/selection-button-radio
        name: question,
        value: content.get(question + 'val' + index),
        label: content.get(question + 'val' + index + 'Label')
      /}
    %{
      }
    }%
    #{forms/assurance
      name: question
    /}
  </fieldset>
  #{footer/}
</form>
