#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p29title')
  /}
  <fieldset>
    #{question-heading
      heading: content.get('p29q1text'),
      hint: content.get('p29q1hint')
    /}
    #{forms/selection-button-boolean
      name: 'p29q1',
      label: content.get('p29q1valtext')
    /}
    #{forms/assurance
      name: 'p29q1'
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p29q2text'),
      hint: content.get('p29q2hint')
    /}
    #{forms/selection-button-boolean
      name: 'p29q2',
      label: content.get('p29q2valtext')
    /}
    #{forms/assurance
      name: 'p29q2'
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p29q3text'),
      hint: content.get('p29q3hint')
    /}
    #{forms/selection-button-boolean
      name: 'p29q3',
      label: content.get('p29q3valtext')
    /}
    #{forms/assurance
      name: 'p29q3'
    /}
  </fieldset>
  #{footer/}
</form>
