#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p29'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title')
  /}
  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
  <fieldset>
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint')
    /}
    #{forms/selection-button-boolean
      name: question
    /}
    #{forms/assurance
      name: question
    /}
  </fieldset>
  %{
    }

    question = page + 'q2'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
  <fieldset>
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint')
    /}
    #{forms/selection-button-boolean
      name: question
    /}
    #{forms/assurance
      name: question
    /}
  </fieldset>
  %{
    }

    question = page + 'q3'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
  <fieldset>
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint')
    /}
    #{forms/selection-button-boolean
      name: question
    /}
    #{forms/assurance
      name: question
    /}
  </fieldset>
  %{
    }
  }%
  #{footer/}
</form>
