#{extends 'layout.html' /}
#{set title:'Page 1c Title | Digital Marketplace Service Submission' /}

#{breadcrumb-one-deep
  tip: 'New ' + lot + ' submission'
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p3title')
  /}
  <fieldset>
    <legend class='question-heading'>
      ${content.get('p3q1text')}
    </legend>
    #{forms/hint
      hint: content.get('p3q1hint')
    /}
    %{
      for (index in 1..5) {
    }%
      #{forms/selection-button-checkbox
        name: 'p3q1',
        label: content.get('p3q1val' + index + 'Label'),
        value: content.get('p3q1val' + index),
        checked: oldValues?.get('p3q1')?.contains(content.get('p3q1val' + index))
      /}
    %{
      }
    }%
  </fieldset>
  #{footer/}
</form>
