#{extends 'layout.html' /}
#{set title:'Page 1c Title | Digital Marketplace Service Submission' /}


<div class='breadcrumb-navigation'>
  <nav>
    <ol>
      <li class='breadcrumb-navigation-item'>
        <a href="/" class='breadcrumb-link'>Your G-Cloud 6 submissions</a>
      </li>
      <li class='breadcrumb-navigation-item'>New SCS submission</li>
    </ol>
  </nav>
</div>

<form action='${request.getBase()}${request.url}' method='POST'>

  <p class='position page-${pageNum}'>
    Page ${pageNum} of ${pageTotal}
  </p>
  <h1 class='page-heading'>
    Question section header
  </h1>
  <fieldset>
    <legend class='question-heading'>
      Question text
    </legend>
    <p class='question-hint'>
      Question hint
    </p>
    #{forms/selection-button-checkbox
      name: 'p3_q1',
      label: ${content.q1val1label},
      value: ${content.q1val1},
      checked: oldValues?.get("p3_q1")?.contains(box1val)
    /}
    #{forms/selection-button-checkbox
      name: 'p3_q1',
      label: ${content.q1val2label},
      value: ${content.q1val2},
      checked: oldValues?.get("p3_q1")?.contains(box2val)
    /}
    #{forms/selection-button-checkbox
      name: 'p3_q1',
      label: ${content.q1val3label},
      value: ${content.q1val3},
      checked: oldValues?.get("p3_q1")?.contains(box3val)
    /}
    #{forms/selection-button-checkbox
      name: 'p3_q1',
      label: ${content.q1val4label},
      value: ${content.q1val4},
      checked: oldValues?.get("p3_q1")?.contains(box4val)
    /}
    #{forms/selection-button-checkbox
      name: 'p3_q1',
      label: ${content.q1val5label},
      value: ${content.q1val5},
      checked: oldValues?.get("p3_q1")?.contains(box5val)
    /}
  </fieldset>
  <input type='submit' value='Save and continue'><p class='goBackAPage'><a href='#'>Go back to previous page</a></p><p class='returnToDashboard'><a href='/'>Return to dashboard</a></p></section>

</form>
