#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p31'
  def question = page + 'q1'
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  service_id: listingID,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title'),
    content: content,
    page: 31
  /}
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
    %{
      for (index in 1..6) {
    }%
      #{forms/selection-button-checkbox
        name: question,
        value: content.get(question + 'val' + index),
        label: content.get(question + 'val' + index + 'Label')
      /}
    %{
      }
    }%
    #{forms/assurance
      name: question
    /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}
  #{footer/}
</form>
