#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p31title')
  /}
  <fieldset>
    #{question-heading
      heading: content.get('p31q1text'),
      hint: content.get('p31q1hint')
    /}
    #{forms/selection-button-boolean
      name: 'p31q1',
      label: content.get('p31q1valtext')
    /}
    #{forms/assurance
      name: 'p31q1'
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p31q2text'),
      hint: content.get('p31q2hint')
    /}
    #{forms/selection-button-boolean
      name: 'p31q2',
      label: content.get('p31q2valtext')
    /}
    #{forms/assurance
      name: 'p31q2'
    /}
  </fieldset>
  #{footer/}
</form>
