#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p32'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p32title'),
    content: content,
    page: 32
  /}
  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
      #{question-heading
        heading: content.get(question + 'text'),
        hint: content.get(question + 'hint'),
        error: content.get(question + flash.get(question))
      /}
      %{
        for (index in 1..8) {
      }%
        #{forms/selection-button-checkbox
          name: 'p32q1',
          value: content.get('p32q1val' + index),
          label: content.get('p32q1val' + index + 'Label'),
          checked: oldValues?.get('p32q1')?.contains(content.get('p32q1val' + index))
        /}
      %{
        }
      }%
      #{forms/assurance
        name: 'p32q1'
      /}
      #{question-footer
        heading: content.get(question + 'text'),
        hint: content.get(question + 'hint'),
        error: content.get(question + flash.get(question))
      /}
  %{
    }
  }%
  #{footer/}
</form>
