#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p33title')
  /}
  <fieldset>
    #{question-heading
      heading: content.get('p33q1text'),
      hint: content.get('p33q1hint')
    /}
    #{forms/selection-button-boolean
      name: 'p33q1',
      label: content.get('p33q1valtext')
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p33q1text'),
      hint: content.get('p33q1hint')
    /}
    %{
      for (index in 1..4) {
    }%
      #{forms/selection-button-radio
        name: 'p33q2',
        value: content.get('p33q2val' + index),
        label: content.get('p33q2val' + index + 'Label')
      /}
    %{
      }
    }%
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p33q3text'),
      hint: content.get('p33q3hint')
    /}
    #{forms/selection-button-boolean
      name: 'p33q3',
      label: content.get('p33q3valtext')
    /}
    #{forms/assurance
      name: 'p33q3'
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p33q4text'),
      hint: content.get('p33q4hint')
    /}
    #{forms/selection-button-boolean
      name: 'p33q4',
      label: content.get('p33q4valtext')
    /}
    #{forms/assurance
      name: 'p33q4'
    /}
  </fieldset>
  #{footer/}
</form>
