#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p34'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  service_id: listingID,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title'),
    content: content,
    page: 34
  /}
  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
    #{forms/selection-button-boolean
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question)),
      value: oldValues?.get(question),
      oldval: oldValues?.get(question + 'assurance')?.get(0),
      assurance: true
    /}
  %{
    }

    question = page + 'q2'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
    #{forms/selection-button-boolean
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question)),
      value: oldValues?.get(question),
      oldval: oldValues?.get(question + 'assurance')?.get(0),
      assurance: true
    /}
  %{
    }
  }%
  #{footer prevPageURL: prevPageURL /}
</form>
