#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p35title')
  /}
  <fieldset>
    #{question-heading
      heading: content.get('p35q1text'),
      hint: content.get('p35q1hint')
    /}
    %{
      for (index in 1..3) {
    }%
      #{forms/selection-button-radio
        name: 'p35q1',
        value: content.get('p35q1val' + index),
        label: content.get('p35q1val' + index + 'Label')
      /}
    %{
      }
    }%
  </fieldset>
  #{footer/}
</form>
