#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p36'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p36title')
  /}
  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
    <fieldset class='question'>
      #{question-heading
        heading: content.get(question + 'text'),
        hint: content.get(question + 'hint')
      /}
      %{
        for (index in 1..3) {
      }%
        #{forms/selection-button-radio
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label')
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question
      /}
    </fieldset>
  %{
    }

    question = page + 'q2'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
    <fieldset class='question'>
      #{question-heading
        heading: content.get(question + 'text'),
        hint: content.get(question + 'hint')
      /}
      #{forms/selection-button-boolean
        name: question
      /}
      #{forms/assurance
        name: question
      /}
    </fieldset>
  %{
    }

    question = page + 'q3'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
  <fieldset class='question'>
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint')
    /}
    #{forms/selection-button-boolean
      name: question
    /}
    #{forms/assurance
      name: question
    /}
  </fieldset>
  %{
    }
  }%
  #{footer/}
</form>
