#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p36title')
  /}
  <fieldset>
    #{question-heading
      heading: content.get('p36q1text'),
      hint: content.get('p36q1hint')
    /}
    %{
      for (index in 1..3) {
    }%
      #{forms/selection-button-radio
        name: 'p36q1',
        value: content.get('p36q1val' + index),
        label: content.get('p36q1val' + index + 'Label')
      /}
    %{
      }
    }%
    #{forms/assurance
      name: 'p36q1'
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p36q2text'),
      hint: content.get('p36q2hint')
    /}
    #{forms/selection-button-boolean
      name: 'p36q2',
      label: content.get('p36q2valtext')
    /}
    #{forms/assurance
      name: 'p1q2'
    /}
  </fieldset>
  <fieldset>
    #{question-heading
      heading: content.get('p36q3text'),
      hint: content.get('p36q3hint')
    /}
    #{forms/selection-button-boolean
      name: 'p36q3',
      label: content.get('p36q3valtext')
    /}
    #{forms/assurance
      name: 'p1q3'
    /}
  </fieldset>
  #{footer/}
</form>
