#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p36'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  service_id: listingID,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title'),
    content: content,
    page: 36
  /}
  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
      #{question-heading
        heading: content.get(question + 'text'),
        hint: content.get(question + 'hint'),
        error: content.get(question + flash.get(question))
      /}
      %{
        for (index in 1..7) {
      }%
        #{forms/selection-button-checkbox
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label'),
          checked: oldValues?.get(question)?.contains(content.get(question + 'val' + index + 'Label'))
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question,
        type: content.get(question + 'assuranceApproach'),
        oldval: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0)
      /}
      #{question-footer
        heading: content.get(question + 'text'),
        hint: content.get(question + 'hint'),
        error: content.get(question + flash.get(question))
      /}
  %{
    }
  }%
  #{footer prevPageURL: prevPageURL, summaryPageURL: summaryPageURL, return_to_summary: return_to_summary /}
</form>
