#{extends 'layout.html' /}
#{set title:'Adding a new service' /}

%{
  def page = 'p4'
  def question = page + 'q1'
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title')
  /}
  <fieldset class='question'>
    %{
      questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
      if (questionIsRelevantToSelectedLot) {
    }%
    #{forms/textbox
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      value: oldValues?.get(question)
    /}
    %{
      }

      question = page + 'q2'
      questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
      if (questionIsRelevantToSelectedLot) {
    }%
    #{forms/textbox-with-word-count
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      value: oldValues?.get(question),
      max_words: 50
    /}
    %{
      }
    }%
  </fieldset>
  #{footer/}
</form>
