#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p40'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  service_id: listingID,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get(page + 'title'),
    content: content,
    page: 40
  /}
  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
      #{question-heading
        heading: content.get(question + 'text'),
        hint: content.get(question + 'hint'),
        error: content.get(question + flash.get(question))
      /}
      %{
        for (index in 1..3) {
      }%
        #{forms/selection-button-radio
          name: question,
          value: content.get(question + 'val' + index),
          label: content.get(question + 'val' + index + 'Label'),
          oldval: oldValues?.get(question)?.get(0)
        /}
      %{
        }
      }%
      #{forms/assurance
        name: question,
        oldval: oldValues?.get(question + 'assurance')?.isEmpty() ? "" : oldValues?.get(question + 'assurance')?.get(0)
        type: content.get(question + 'assuranceApproach')
      /}
      #{question-footer
        error: content.get(question + flash.get(question))
      /}
  %{
    }

    question = page + 'q2'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
    #{forms/selection-button-boolean
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question)),
      value: oldValues?.get(question),
      assurance_type: content.get(question + 'assuranceApproach')
      assurance_value: oldValues?.get(question + 'assurance')
    /}
  %{
    }

    question = page + 'q3'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
    #{forms/selection-button-boolean
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question)),
      assurance_type: content.get(question + 'assuranceApproach')
      value: oldValues?.get(question),
      assurance_value: oldValues?.get(question + 'assurance')
    /}
  %{
    }
  }%
  #{footer prevPageURL: prevPageURL /}
</form>
