#{extends 'layout.html' /}
#{set title:'Adding a new service' /}

%{
  def question = 'p6q1'
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

#{form @Page6.savePage() , enctype:'multipart/form-data'}

   <input type="hidden" id="listingId" name="listingId" value="${listingId}" />

  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p6title'),
    content: content,
    page: 6
  /}

  #{forms/file-upload
    name: question,
    label: content.get(question + 'text'),
    hint: content.get(question + 'hint'),
    error: content.get(question + flash.get(question))
  /}

  #{footer/}

#{/}
