#{extends 'layout.html' /}
#{set title:'Adding a new service' /}

%{
  def page = 'p7'
  def question = page + 'q1'
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST' enctype="multipart/form-data">
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p7title')
  /}
  <fieldset>
    #{forms/selection-button-boolean
      name: question,
      label: content.get(question + 'text')
    /}
  </fieldset>
  <fieldset>
    %{
      question = page + 'q2'
    }%
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint')
    /}
    %{
      for (index in 1..5) {
    }%
      #{forms/selection-button-radio
        name: 'p7q2',
        value: content.get('p7q2val' + index),
        label: content.get('p7q2val' + index + 'Label')
      /}
    %{
      }
    }%
  </fieldset>
  <fieldset>
    %{
      question = page + 'q2'
    }%
    #{forms/file-upload
      name: question,
      label: content.get(question + 'text')
    /}
  </fieldset>
  #{footer/}
</form>
