#{extends 'layout.html' /}
#{set title:'Adding a new service' /}

#{breadcrumb-one-deep
  tip: oldValues?.get('p4q1')
/}

<form action='${request.getBase()}${request.url}' method='POST'>
  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p7title')
  /}
  <fieldset>
    #{forms/selection-button-boolean
      name: 'p7q1',
      label: content.get('p7q1text')
    /}
  </fieldset>
  <fieldset>
    <legend class='question-heading'>
      ${content.get('p7q2text')}
    </legend>
    #{forms/hint
      hint: content.get('p6q1hint')
    /}
    %{
      for (index in 1..5) {
    }%
      #{forms/selection-button-radio
        name: 'p7q2',
        value: content.get('p7q2val' + index),
        label: content.get('p7q2val' + index + 'Label')
      /}
    %{
      }
    }%
  </fieldset>
  <fieldset>
    #{forms/file-upload
      name: 'p7q3',
      label: content.get('p7q3text')
    /}
  </fieldset>
  #{footer/}
</form>
