#{extends 'layout.html' /}
#{set title:'Adding a new service' /}

%{
  def page = 'p8'
  def question = ''
  def questionIsRelevantToSelectedLot = false
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST' enctype="multipart/form-data">

  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p8title')
  /}

  %{
    question = page + 'q1'
    questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
    if (questionIsRelevantToSelectedLot) {
  }%
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}
  %{
    }
  }%

  %{
    for (index in 2..5) {
      question = page + 'q' + index
      questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
      if (questionIsRelevantToSelectedLot) {
  }%
    #{forms/selection-button-boolean
      name: question,
      value: oldvalues?.get(question),
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
  %{
      }
    }
  }%

  %{
    for (index in 6..7) {
      question = page + 'q' + index
      questionIsRelevantToSelectedLot = content.get(question + 'lots').contains(lot)
      if (questionIsRelevantToSelectedLot) {
  }%
    #{forms/file-upload
      name: question,
      label: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
  %{
      }
    }
  }%

  #{footer/}

</form>
