#{extends 'layout.html' /}
#{set title: 'Adding a new service' /}

%{
  def page = 'p9'
  def question = ''
}%

#{breadcrumb-one-deep
  service_name: serviceName,
  service_id: listingID,
  lot: lot
/}

<form action='${request.getBase()}${request.url}' method='POST'>

  #{heading
    current: pageNum,
    total: pageTotal,
    title: content.get('p9title'),
    content: content,
    page: 9
  /}

  %{
    question = page + 'q1'
  }%

  #{forms/selection-button-boolean
    name: 'p9q1',
    value: oldValues?.get('p9q1'),
    label: content.get('p9q1text'),
    hint: content.get('p9q1hint'),
    error: content.get(question + flash.get(question))
  /}

  #{footer prevPageURL: prevPageURL, summaryPageURL: summaryPageURL /}

</form>
