<div class='breadcrumb-navigation'>
  <nav>
    <ol>
      <li class='breadcrumb-navigation-item'>
        <a href='/' class='breadcrumb-navigation-link'>Your G-Cloud 6 submissions</a>
      </li>
      <li class='breadcrumb-navigation-item'>
        <a href='/service/${_service_id}/summary' class='breadcrumb-navigation-link'>
        %{
          if (_service_name) {
        }%
          ${_service_name}
        %{
          } else {
        }%
          New ${_lot} submission
        %{
          }
        }%
        </a>
      </li>
    </ol>
  </nav>
</div>
