<p class='position position-page-${_current}'>
  Page ${_current}
  %{ if (_total) { }%
    of ${_total}
  %{ } }%
</p>
<h1 class="page-heading">
  ${_title}
</h1>
%{
  def questionID = ''
  def pageContainsErrors = false
  def maxPossibleNumberOfQuestions = 20

  for (question in 1..maxPossibleNumberOfQuestions) {
    if (flash.get('p' + _page + 'q' + question)) {
      pageContainsErrors = true
    }
  }

  if (pageContainsErrors) {
}%
<div class='validation-masthead'>
  There were problems with your response to the following questions:
  <ul>
    %{
      for (question in 1..maxPossibleNumberOfQuestions) {
        questionID = 'p' + _page + 'q' + question
        if (flash.get(questionID)) {
    }%
          <li>
            <a href='#${questionID}'>${content.get(questionID + 'text')}</a>
          </li>
    %{
        }
      }
    }%
  </ul>
</div>
%{
  }
}%
