#{extends 'layout.html' /}
#{set title: 'Technical difficulties – Digital Marketplace' /}

<div class='breadcrumb-navigation'>
    <nav>
        <ol>
            <li class='breadcrumb-navigation-item'>
                <a href="/">Your G-Cloud 6 submissions</a>
            </li>
        </ol>
    </nav>
</div>

#{if play.mode.name() == 'DEV'}
    #{500 exception /}
#{/if}
#{else}
  <h1 class='page-heading-without-position'>
    Sorry, we are experiencing technical difficulties
  </h1>
  <p class='error-paragraph'>
    Please try again in a few moments.
  </p>
#{/else}
