p{{{pageNumber}}}title={{{title}}}
{{#questions}}
p{{{pageNumber}}}q{{{questionNumber}}}text={{{text}}}
p{{{pageNumber}}}q{{{questionNumber}}}lots={{{dependsOnLots}}}
{{#assuranceApproach}}
p{{{pageNumber}}}q{{{questionNumber}}}assuranceApproach={{{assuranceApproach}}}
{{/assuranceApproach}}
{{#hint}}
p{{{pageNumber}}}q{{{questionNumber}}}hint={{{hint}}}
{{/hint}}
{{#validationMessages}}
p{{{pageNumber}}}q{{{questionNumber}}}{{{validationName}}}={{{validationMessage}}}
{{/validationMessages}}
{{#listItemName}}
p{{{pageNumber}}}q{{{questionNumber}}}listItemName={{{listItemName}}}
{{/listItemName}}
{{#fields}}
{{#label}}
p{{{pageNumber}}}q{{{questionNumber}}}val{{{fieldNumber}}}Label={{{label}}}
{{/label}}
{{#explanation}}
p{{{pageNumber}}}q{{{questionNumber}}}val{{{fieldNumber}}}Description={{{explanation}}}
{{/explanation}}
p{{{pageNumber}}}q{{{questionNumber}}}val{{{fieldNumber}}}={{{param}}}
{{/fields}}
{{/questions}}
