#{extends 'layout.html' /}
#{set title:'Add a new service' /}

%{
  def page = 'p0'
  def question = page + 'q1'
}%

<div class='breadcrumb-navigation'>
  <nav>
    <ol>
      <li class='breadcrumb-navigation-item'>
        <a href="/" class='breadcrumb-navigation-link'>Your G-Cloud 6 submissions</a>
      </li>
      <li class='breadcrumb-navigation-item'>New submission</li>
    </ol>
  </nav>
</div>
<form action="/addservice" method="POST">
  #{heading
    current: 1,
    total: pageTotal,
    title: content.get(page + 'title')
  /}
    #{question-heading
      heading: content.get(question + 'text'),
      hint: content.get(question + 'hint'),
      error: content.get(question + flash.get(question))
    /}
      #{forms/selection-button-radio
        name: 'lot',
        label: content.get(question + 'val1Label'),
        label_override: 'IaaS',
        description: content.get(question + 'val1Description'),
        value: 'IaaS'
      /}
      #{forms/selection-button-radio
        name: 'lot',
        label: content.get(question + 'val2Label'),
        label_override: 'SaaS',
        description: content.get(question + 'val2Description'),
        value: 'SaaS'
      /}
      #{forms/selection-button-radio
        name: 'lot',
        label: content.get(question + 'val3Label'),
        label_override: 'PaaS',
        description: content.get(question + 'val3Description'),
        value: 'PaaS'
      /}
      #{forms/selection-button-radio
        name: 'lot',
        label: content.get(question + 'val4Label'),
        label_override: 'SCS',
        description: content.get(question + 'val4Description'),
        value: 'SCS'
      /}
    #{question-footer
      error: content.get(question + flash.get(question))
    /}
  <div class="page-footer">
    <input type="submit" value="Save and continue" id="submit" class="page-footer-item button button-save" />
  </div>
</form>
