#{extends 'layout.html' /}
#{set title:'Product Summary | Digital Marketplace' /}

#{breadcrumb-one-deep
  service_name: listing.title,
  service_id: service_id
/}

#{heading
  title: 'Summary',
/}

<p>Last updated by: ${listing.lastUpdatedEmail}, at ${listing.getLastUpdated()}</p>

%{
if (listing.serviceSubmitted) {
}%
    <p>Completed by: ${listing.lastCompletedByEmail}, at ${listing.getLastCompleted()}</p>
%{
}
}%
#{summary/section/start
  title: content.get('p' + pageIndex + 'title'),
/}
  #{summary/row
    question: content.get('p' + pageIndex + 'q1' + 'text'),
    answer: "${listing.lot}"
  /}
#{summary/section/end /}

%{
  for (page in flow) {
}%

  #{summary/section/start
    title: content.get('p' + page + 'title'),
    page_list_number: ++pageIndex,
    page: page,
    service_id: service_id
  /}

    %{
      for (questionIndex in (1..maxPossibleNumberOfQuestions).toArray()) {
        question = 'p' + page + 'q' + questionIndex;
        questionIsRelevantToSelectedLot = content.get(question + 'lots')?.contains(listing.lot)
        if (questionIsRelevantToSelectedLot) {
    }%

      #{summary/row
        question: content.get(question + 'text'),
        answer: storedValues.get(question),
        assurance: storedValues.get(question + 'assurance'),
        optional: optionalQuestions.contains(question)
      /}

    %{
        }
      }
    }%

  #{summary/section/end /}

%{
  }
}%




%{
  if (listing.allPagesHaveBeenCompleted()) {
}%
  <div class='page-footer'>
    #{form @Service.completeListing()}
    <div class='page-footer-item'>
      <input type="hidden" id="listingId" name="listingId" value="${listingId}" />
      #{forms/selection-button-checkbox
        name: 'serviceCompleted',
        value: 'service-completed',
        label: 'This service is completed'
      /}
    </div>
    <input type='submit' value='Save and return to submissions' class='page-footer-item button-save' />
    #{/form}
    <!--
    <input type='submit' value='Delete this service' class='page-footer-item button-destructive' />
    -->
  </div>
%{
  } else {
}%
  <div class='page-footer'>
    <p class='summary-incomplete-message'>
      Your progress has been saved, but you must answer all required
      questions before you can complete your service
    </p>
    <a href='/' class='page-footer-item summary-return-link'>Return to submissions</a>
    <!--
    <input type='submit' value='Delete this service' class='page-footer-item button-destructive' />
    -->
  </div>
%{
  }
}%
