#{extends 'layout.html' /}
#{set title:'Product Summary | Digital Marketplace' /}

%{
  // These should come from the controller
  def lot = 'SaaS'
  def SaaSFlow = [2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
  def optionalQuestions = ['p4q1', 'p8q4', 'p8q5'];
  def allPagesAreCompleted = false;
  // -------------------------------------

  def pageIndex = 0
  def maxPossibleNumberOfQuestions = 20
  def question
}%

#{breadcrumb-one-deep
  service_name: 'Umbraco CMS',
  service_id: service_id
/}

#{heading
  title: 'Summary',
/}

#{summary/section/start
  title: content.get('p' + pageIndex + 'title'),
/}
  #{summary/row
    question: content.get('p' + pageIndex + 'q1' + 'text'),
    answer: 'SaaS'
  /}
#{summary/section/end /}

%{
  for (page in SaaSFlow) {
}%

  #{summary/section/start
    title: content.get('p' + page + 'title'),
    page_list_number: ++pageIndex,
    page: page,
    service_id: service_id
  /}

    %{
      for (questionIndex in (1..maxPossibleNumberOfQuestions).toArray()) {
        question = 'p' + page + 'q' + questionIndex;
        questionIsRelevantToSelectedLot = content.get(question + 'lots')?.contains(lot)
        if (questionIsRelevantToSelectedLot) {
    }%

      #{summary/row
        question: content.get(question + 'text'),
        answer: '',
        assurance: '',
        optional: optionalQuestions.contains(question)
      /}

    %{
        }
      }
    }%

  #{summary/section/end /}

%{
  }
}%


%{
  if (allPagesAreCompleted) {
}%
  <div class='page-footer'>
    <div class='page-footer-item'>
      <form action='/' method='get'>
        #{forms/selection-button-checkbox
          name: 'completed',
          value: 'service-completed',
          label: 'This service is completed'
        /}
      </form>
    </div>
    <input type='submit' value='Save and return to submissions' class='page-footer-item button-save' />
    <!--
    <input type='submit' value='Delete this service' class='page-footer-item button-destructive' />
    -->
  </div>
%{
  } else {
}%
  <div class='page-footer'>
    <p class='summary-incomplete-message'>
      Your progress has been saved, but you must answer all required
      questions before you can complete your service
    </p>
    <a href='/' class='page-footer-item summary-return-link'>Return to submissions</a>
    <!--
    <input type='submit' value='Delete this service' class='page-footer-item button-destructive' />
    -->
  </div>
%{
  }
}%
