#{extends 'layout.html' /}
#{set title:'Product Summary | Digital Marketplace' /}

<div class='breadcrumb-navigation'>
  <nav>
    <ol>
      <li class='breadcrumb-navigation-item'>
        <a href="/" class='breadcrumb-navigation-link'>Your G-Cloud 6 submissions</a>
      </li>
      <li class='breadcrumb-navigation-item'>Product name ${id}</li>
    </ol>
  </nav>
</div>

<h1 class="page-heading">
  Summary
</h1>

<form action='/' method='get'>

#{forms/selection-button-checkbox
  name: 'p25q1',
  value: 'service-completed',
  label: 'This submission is completed'
/}

<div class='page-footer'>
  <input type='submit' value='Save and return to submissions' class='page-footer-item button button-save' />
</div>

</form>
