<p class="assuranceQuestion">
  What assurance approach are you using?
</p>
<label class='chunk'>
  <input type='radio' name='lot' />
  Service provider assertion
</label>
<label class='chunk'>
  <input type='radio' name='lot' />
  Contractual commitment
</label>
<label class='chunk'>
  <input type='radio' name='lot' />
  Independent validation of assertion
</label>
<label class='chunk'>
  <input type='radio' name='lot' />
  Independent testing of implementation
</label>
<label class='chunk'>
  <input type='radio' name='lot' />
  Assurance in the service design
</label>
<label class='chunk'>
  <input type='radio' name='lot' />
  Assured components
</label>
