<!DOCTYPE html>
<!--[if lt IE 9]>
<html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>


    <title>SPIKE</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();

    </script>

    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/govuk-template.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/application-e6ee59c9037874bec54ac8fc1d95f716.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/govuk-scaffolding.css'}">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript"
            charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}

    <!--[if gt IE 8]><!-->
    <link href="/digitalmarketplace/static/css/govuk-template.css" media="screen" rel="stylesheet" type="text/css"/>
    <!--<![endif]-->
    <!--[if IE 6]>
    <link href="/digitalmarketplace/static/css/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if IE 7]>
    <link href="/digitalmarketplace/static/css/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link href="/digitalmarketplace/static/css/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css"/>
    <![endif]-->

    <!--[if !IE]><!-->
    <link rel="stylesheet" href="/digitalmarketplace/assets/application-e6ee59c9037874bec54ac8fc1d95f716.css "/>
    <!--<![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="/digitalmarketplace/assets/ie10.css "/>
    <![endif]-->
    <!--[if IE 6]>
    <link rel="stylesheet" href="/digitalmarketplace/assets/ie6-6c80389870b1686d6007160a42f6e200.css "/>
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="/digitalmarketplace/assets/ie7-20c95c06352591eecc8091579fa956b3.css "/>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="/digitalmarketplace/assets/ie8-ac733126aebda6f8676064cc840ca444.css "/>
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" href="/digitalmarketplace/assets/ie9-f410308d7e0250c8ebed6c67e394a12c.css "/>
    <![endif]-->


    <link href="/digitalmarketplace/static/css/jquery-ui-1.10.4.custom.css" media="print" rel="stylesheet"
          type="text/css"/>
    <link href="/digitalmarketplace/static/css/govuk-template-print.css" media="print" rel="stylesheet"
          type="text/css"/>
    <link href="/digitalmarketplace/static/css/govuk-scaffolding.css" media="screen" rel="stylesheet" type="text/css"/>

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["/digitalmarketplace/static/css/fonts-ie8.css"]},
       c="/digitalmarketplace/static/js/vendor/goog/webfont-debug.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()

    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="@{'/public/stylesheets/fonts.css'}" media="all" rel="stylesheet" type="text/css"/>
    <!--<![endif]-->


    <!--[if lt IE 9]>
    <script src="/digitalmarketplace/static/js/ie.js" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/digitalmarketplace/static/images/favicon.ico" type="image/x-icon"/>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/digitalmarketplace/static/images/apple-touch-icon-144x144.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="/digitalmarketplace/static/images/apple-touch-icon-114x114.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="/digitalmarketplace/static/images/apple-touch-icon-72x72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/digitalmarketplace/static/images/apple-touch-icon-57x57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="@{'/public/images/opengraph-image.png'}">


    <meta name="layout" content="govuk"/>


    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49258698-1', {
			'cookieDomain' : 'none'
		  });
	  ga('send', 'pageview');


    </script>
</head>

<body class="">
<script type="text/javascript">
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">Skip to main content</a>
    </div>
</div>

<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about
        cookies</a></p>
</div>

<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img src="@{'/public/images/gov.uk_logotype_crown.png'}" alt="">
                    <span>GOV<span>.</span>UK</span>
                </a>
            </div>

            <!-- TODO Or render an insideHeader template?-->
        </div>
        <div class="header-proposition">
            <div class="content">
                <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
                <nav id="proposition-menu">
                    <a href="/digitalmarketplace/" id="proposition-name">Digital Marketplace</a>
                    <!--To be overwritten in your main FrontEnd project-->
                    <ul id="proposition-links">
                        <li><a class="home" href="/digitalmarketplace/">Home</a></li>


                        <li><a id="login-menu-link" class="login" href="/digitalmarketplace/login">Log in</a></li>
                        <li><a id="register-menu-link" class="login" href="/digitalmarketplace/register">Create
                            account</a></li>

                    </ul>

                </nav>
            </div>
        </div>

    </div>
</header>
<!--end header-->

<div id="global-header-bar">
    <div class="inner-block">
        <div class="header-bar"></div>
    </div>
</div>

<div class="phase-banner">
    <p>
        <strong class="phase-tag">ALPHA</strong> This is a new service – to help us improve it please send your feedback
        to <a href="mailto:digitalmarketplace@digital.cabinet-office.gov.uk?subject=Digital%20Marketplace%20feedback"
              title="Please send feedback to digitalmarketplace@digital.cabinet-office.gov.uk">digitalmarketplace@digital.cabinet-office.gov.uk</a>
    </p>
</div>

<!-- TODO Or render an afterHeader template?-->

<div id="wrapper">
    <main class="main group">

        <main role="main" class="group search ancillary">

            <div id="outer-wrapper">
                <div id="inner-wrapper">

                    <div id="global-breadcrumb" class="header-context">
                        <nav>
                            <ol>
                                <li><a href="/products">Home </a></li>
                            </ol>
                        </nav>
                    </div>
                    #{doLayout /}
</body>
<footer class="group js-footer" id="footer" role="contentinfo">

    <div class="footer-wrapper">
        <div class="footer-categories">
            <div id="about">
                <h3>About the Digital Marketplace</h3>
                <ul>
                    <li><a href="https://digitalmarketplace.blog.gov.uk/2014/03/12/digital-marketplace-alpha/">Learn
                        more about this Alpha</a></li>
                    <li><a href="https://digitalmarketplace.blog.gov.uk/">Read our blog</a></li>
                    <li><a href="/digitalmarketplace/terms-and-conditions">Terms and conditions</a></li>
                </ul>
            </div>
            <div id="buyers">
                <h3>
                    Buyers
                </h3>
                <ul>
                    <li><a href="https://digitalmarketplace.blog.gov.uk/buying/">Preparing to buy</a></li>
                </ul>
            </div>
            <div id="suppliers">
                <h3>
                    Suppliers
                </h3>
                <ul>
                    <li><a href="https://digitalmarketplace.blog.gov.uk/supplying/">Supplying a service</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-meta">
            <div class="footer-meta-inner">
                <div class="open-government-licence">
                    <h2>
                        <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2"><img
                                src="/digitalmarketplace/static/images/open-government-licence_2x.png" alt="OGL"></a>
                    </h2>

                    <p>
                        All content is available under the <a
                            href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2">Open
                        Government Licence v2.0</a>, except where otherwise stated
                    </p>
                </div>
            </div>
            <div class="copyright">
                <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy;
                    Crown copyright</a>
            </div>
        </div>
    </div>
</footer>


<div id="global-app-error" class="app-error hidden"></div>

<script src="/digitalmarketplace/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/digitalmarketplace/static/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/digitalmarketplace/static/js/govuk-template.js" type="text/javascript"></script>

<script src="/digitalmarketplace/assets/application-4f74f5623ecbb6b7242cc3385b06dc96.js"
        type="text/javascript"></script>


</body>
</html>
